USE [Reporting]
GO
/****** Object:  StoredProcedure [PSO500].[usp_op_EER]    Script Date: 12/5/2024 12:48:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






-- ===========================================================================
-- Author:		Kaye Mowrey
-- Create date: June 1, 2022
-- Updated:     Nov 14, 2023; Mar 21, 2024
-- ===========================================================================

			  
CREATE PROCEDURE [PSO500].[usp_op_EER] AS
	-- Add the parameters for the stored procedure hereUSE [Reporting]
GO
