USE [Reporting]
GO
/****** Object:  Table [POWER].[AssessmentWeek]    Script Date: 12/9/2024 2:46:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [POWER].[AssessmentWeek](
	[AssessmentWeek] [float] NULL
) ON [PRIMARY]
GO
