USE [Reporting]
GO
/****** Object:  View [AA560].[v_SiteParameter]    Script Date: 11/13/2024 12:16:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [AA560].[v_SiteParameter] AS 

SELECT *
FROM [regetlprod].[Reporting].[AA560].[v_SiteParameter]

GO
