USE [Reporting]
GO
/****** Object:  Table [RA100].[t_FPIDates]    Script Date: 11/13/2024 12:16:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [RA100].[t_FPIDates](
	[SiteID] [int] NOT NULL,
	[FPIDate] [date] NULL
) ON [PRIMARY]
GO
