USE [Reporting]
GO
/****** Object:  Table [AD550].[t_op_CAT]    Script Date: 9/3/2024 3:31:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [AD550].[t_op_CAT](
	[SiteID] [int] NULL,
	[SiteStatus] [nvarchar](10) NOT NULL,
	[SubjectID] [nvarchar](30) NULL,
	[PatientID] [bigint] NULL,
	[PatientYOB] [int] NULL,
	[AgeAtEnrollment] [float] NULL,
	[OnsetAge] [float] NULL,
	[ProviderID] [int] NULL,
	[VisitType] [nvarchar](255) NULL,
	[VisitDate] [date] NULL,
	[VisitSequence] [int] NULL,
	[VisitEventOccurrence] [int] NULL,
	[VisitCompletion] [nvarchar](255) NULL,
	[eventId] [int] NULL,
	[eventOccurrence] [int] NULL,
	[eventCrfId] [bigint] NULL,
	[crfOccurrence] [int] NULL,
	[TreatmentName] [nvarchar](255) NULL,
	[OtherTreatment] [nvarchar](255) NULL,
	[TreatmentNameFull] [nvarchar](255) NULL,
	[EligibleTreatment] [nvarchar](255) NULL,
	[TreatmentStatus] [nvarchar](255) NULL,
	[DOIInitiationStatus] [nvarchar](255) NULL,
	[EligibilityHierarchy] [float] NULL,
	[SubscriberDOI] [nvarchar](255) NULL,
	[StartDate] [date] NULL,
	[MonthsSinceStart] [float] NULL,
	[TwelveMonthInitiationRule] [nvarchar](255) NULL,
	[NoPriorUse] [int] NULL,
	[PastUse] [int] NULL,
	[CurrentUse] [int] NULL,
	[StopDate] [date] NULL,
	[RestartDate] [nvarchar](255) NULL,
	[CurrentDose] [nvarchar](255) NULL,
	[CurrentFrequency] [nvarchar](255) NULL,
	[PastDose] [nvarchar](255) NULL,
	[PastFrequency] [nvarchar](255) NULL,
	[EASI] [float] NULL,
	[EASIScoreStatus] [nvarchar](30) NULL,
	[vigaad] [float] NULL,
	[RegistryEnrollmentStatus] [nvarchar](255) NULL,
	[RESHierarchy] [int] NULL,
	[FUTreatmentName] [nvarchar](255) NULL,
	[FUOtherTreatment] [nvarchar](255) NULL,
	[FUVisitDate] [nvarchar](255) NULL,
	[FUStartDate] [nvarchar](255) NULL,
	[ExitDate] [nvarchar](255) NULL,
	[EligibilityReview] [nvarchar](50) NULL,
	[notStarted] [int] NULL,
	[no_start_fu_name1] [nvarchar](250) NULL,
	[no_start_fu_name2] [nvarchar](250) NULL
) ON [PRIMARY]
GO
