USE [Reporting]
GO
/****** Object:  Table [POWER].[AssessmentWeek]    Script Date: 10/16/2023 4:13:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [POWER].[AssessmentWeek](
	[AssessmentWeek] [float] NULL
) ON [PRIMARY]
GO
