USE [Reporting]
GO
/****** Object:  Table [POWER].[AssessmentWeek]    Script Date: 8/1/2024 11:24:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [POWER].[AssessmentWeek](
	[AssessmentWeek] [float] NULL
) ON [PRIMARY]
GO
