USE [Reporting]
GO
/****** Object:  Table [dbo].[A#]    Script Date: 9/3/2024 2:31:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[A#](
	[SiteID] [int] NOT NULL,
	[SubjectID] [bigint] NOT NULL
) ON [PRIMARY]
GO
