USE [Reporting]
GO
/****** Object:  View [NMO750].[v_op_DurationBetweenSubVisits_Example]    Script Date: 9/3/2024 2:31:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [NMO750].[v_op_DurationBetweenSubVisits_Example] AS


SELECT SiteID,
       SFSiteStatus,
	   SubjectID,
	   VisitType,
	   VisitSequence,
	   VisitDate,
	   DATEDIFF(DAY, PrevVisitDate, VisitDate) AS DaysSincePrevVisit
FROM
(
SELECT SiteID, 
       SFSiteStatus,
	   SubjectID,
	   CASE WHEN VisitType='Follow-up' THEN CONCAT('FUV', '-', VisitSequence)
	   ELSE VisitType
	   END AS VisitType,
	   VisitSequence,
	   VisitDate,
	   LAG (VisitDate) OVER (PARTITION BY SiteID, SubjectID ORDER BY VisitDate) AS PrevVisitDate

FROM [NMO750].[t_op_VisitLog] VL
WHERE SiteID NOT IN (1440)
) P


--ORDER BY SiteID, SubjectID, VisitDate



GO
