USE [Reporting]
GO
/****** Object:  View [RA100].[v_op_SiteIDParameter]    Script Date: 9/3/2024 2:31:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO










CREATE VIEW [RA100].[v_op_SiteIDParameter] AS

SELECT DISTINCT [Site Number] AS SiteID
      ,CASE WHEN [Address 3]='x' THEN 'Inactive'
	   ELSE 'Active'
	   END AS SiteStatus
  FROM [172.16.81.24].[DataModel_TMCORe_production].[dbo].[G_Site Information]
--WHERE [Site Number] NOT IN (998, 999)

---ORDER BY SiteID, SubjectID
GO
