USE [Reporting]
GO
/****** Object:  Table [PSO500].[t_PSOPHISubjects]    Script Date: 11/13/2024 1:41:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PSO500].[t_PSOPHISubjects](
	[SiteID] [float] NULL,
	[SubjectID] [float] NULL
) ON [PRIMARY]
GO
