USE [Reporting]
GO
/****** Object:  View [RA102].[EnrollmentEligibilityReport]    Script Date: 11/13/2024 1:41:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO














/****** Enrollment and Eligibility Report  ******/
CREATE view [RA102].[EnrollmentEligibilityReport] as 
/****** Enrollment and Eligibility Report  ******/
WITH DP AS
(
	SELECT DISTINCT
		DP.vID
		, DP.SITENUM
		, DP.SUBNUM
	FROM 
	[MERGE_RA_Japan].[staging].[DAT_PAGS] DP
	WHERE VISNAME = 'Enrollment'
),

ASUB AS
(
	SELECT
	*
	FROM
		(SELECT
			*
			, row_number() over(partition by [SUBID] order by [LASTMDT] desc) AS ROWNUM
		FROM 
			[MERGE_RA_Japan].[dbo].[DAT_ASUB]
		) T
	WHERE ROWNUM = 1
),

PE04 AS
(
	SELECT 
		PE04.*
		,ISNULL(CONVERT(VARCHAR(4),PE04.OTH_BIOTS_DT_ST_MO), 'NULL')+'/'+ISNULL(CONVERT(VARCHAR(4),PE04.OTH_BIOTS_DT_ST_DY), 'NULL')+'/'+ISNULL(CONVERT(VARCHAR(4),PE04.OTH_BIOTS_DT_ST_YR),'NULL') [Other_DT_ST]
		,ISNULL(CONVERT(VARCHAR(4),PE04.ORENCIA_DT_ST_MO), 'NULL')+'/'+ISNULL(CONVERT(VARCHAR(4),PE04.ORENCIA_DT_ST_DY), 'NULL')+'/'+ISNULL(CONVERT(VARCHAR(4),PE04.ORENCIA_DT_ST_YR),'NULL') [ORENCIA_DT_ST]
		,ISNULL(CONVERT(VARCHAR(4),PE04.HUMIRA_DT_ST_MO), 'NULL')+'/'+ISNULL(CONVERT(VARCHAR(4),PE04.HUMIRA_DT_ST_DY), 'NULL')+'/'+ISNULL(CONVERT(VARCHAR(4),PE04.HUMIRA_DT_ST_YR),'NULL') [HUMIRA_DT_ST]
		,ISNULL(CONVERT(VARCHAR(4),PE04.CIMZIA_DT_ST_MO), 'NULL')+'/'+ISNULL(CONVERT(VARCHAR(4),PE04.CIMZIA_DT_ST_DY), 'NULL')+'/'+ISNULL(CONVERT(VARCHAR(4),PE04.CIMZIA_DT_ST_YR),'NULL') [CIMZIA_DT_ST]
		,ISNULL(CONVERT(VARCHAR(4),PE04.ENBREL_DT_ST_MO), 'NULL')+'/'+ISNULL(CONVERT(VARCHAR(4),PE04.ENBREL_DT_ST_DY), 'NULL')+'/'+ISNULL(CONVERT(VARCHAR(4),PE04.ENBREL_DT_ST_YR),'NULL')[ENBREL_DT_ST]
		,ISNULL(CONVERT(VARCHAR(4),PE04.SIMPONI_DT_ST_MO), 'NULL')+'/'+ISNULL(CONVERT(VARCHAR(4),PE04.SIMPONI_DT_ST_DY), 'NULL')+'/'+ISNULL(CONVERT(VARCHAR(4),PE04.SIMPONI_DT_ST_YR),'NULL') [SIMPONI_DT_ST]
		,ISNULL(CONVERT(VARCHAR(4),PE04.REMICADE_DT_ST_MO), 'NULL')+'/'+ISNULL(CONVERT(VARCHAR(4),PE04.REMICADE_DT_ST_DY), 'NULL')+'/'+ISNULL(CONVERT(VARCHAR(4),PE04.REMICADE_DT_ST_YR),'NULL') [REMICADE_DT_ST]
		,ISNULL(CONVERT(VARCHAR(4),PE04.REMICADE_BIOSIM_DT_ST_MO), 'NULL')+'/'+ISNULL(CONVERT(VARCHAR(4),PE04.REMICADE_BIOSIM_DT_ST_DY), 'NULL')+'/'+ISNULL(CONVERT(VARCHAR(4),PE04.REMICADE_BIOSIM_DT_ST_YR),'NULL') [INFLIXIMAB_BS_DT_ST]
		,ISNULL(CONVERT(VARCHAR(4),PE04.ACTEMRA_DT_ST_MO), 'NULL')+'/'+ISNULL(CONVERT(VARCHAR(4),PE04.ACTEMRA_DT_ST_DY), 'NULL')+'/'+ISNULL(CONVERT(VARCHAR(4),PE04.ACTEMRA_DT_ST_YR),'NULL') [ACTEMRA_DT_ST]
		,ISNULL(CONVERT(VARCHAR(4),PE04.XELJANZ_DT_ST_MO), 'NULL')+'/'+ISNULL(CONVERT(VARCHAR(4),PE04.XELJANZ_DT_ST_DY), 'NULL')+'/'+ISNULL(CONVERT(VARCHAR(4),PE04.XELJANZ_DT_ST_YR),'NULL') [XELJANZ_DT_ST]
		,ISNULL(CONVERT(VARCHAR(4),PE04.OTH_BIOTS_DT_STP_MO), 'NULL')+'/'+ISNULL(CONVERT(VARCHAR(4),PE04.OTH_BIOTS_DT_STP_DY), 'NULL')+'/'+ISNULL(CONVERT(VARCHAR(4),PE04.OTH_BIOTS_DT_STP_YR),'NULL') [Other_DT_STP]
		,ISNULL(CONVERT(VARCHAR(4),PE04.ORENCIA_DT_STP_MO), 'NULL')+'/'+ISNULL(CONVERT(VARCHAR(4),PE04.ORENCIA_DT_STP_DY), 'NULL')+'/'+ISNULL(CONVERT(VARCHAR(4),PE04.ORENCIA_DT_STP_YR),'NULL') [ORENCIA_DT_STP]
		,ISNULL(CONVERT(VARCHAR(4),PE04.HUMIRA_DT_STP_MO), 'NULL')+'/'+ISNULL(CONVERT(VARCHAR(4),PE04.HUMIRA_DT_STP_DY), 'NULL')+'/'+ISNULL(CONVERT(VARCHAR(4),PE04.HUMIRA_DT_STP_YR),'NULL') [HUMIRA_DT_STP]
		,ISNULL(CONVERT(VARCHAR(4),PE04.CIMZIA_DT_STP_MO), 'NULL')+'/'+ISNULL(CONVERT(VARCHAR(4),PE04.CIMZIA_DT_STP_DY), 'NULL')+'/'+ISNULL(CONVERT(VARCHAR(4),PE04.CIMZIA_DT_STP_YR),'NULL') [CIMZIA_DT_STP]
		,ISNULL(CONVERT(VARCHAR(4),PE04.ENBREL_DT_STP_MO), 'NULL')+'/'+ISNULL(CONVERT(VARCHAR(4),PE04.ENBREL_DT_STP_DY), 'NULL')+'/'+ISNULL(CONVERT(VARCHAR(4),PE04.ENBREL_DT_STP_YR),'NULL') [ENBREL_DT_STP]
		,ISNULL(CONVERT(VARCHAR(4),PE04.SIMPONI_DT_STP_MO), 'NULL')+'/'+ISNULL(CONVERT(VARCHAR(4),PE04.SIMPONI_DT_STP_DY), 'NULL')+'/'+ISNULL(CONVERT(VARCHAR(4),PE04.SIMPONI_DT_STP_YR),'NULL') [SIMPONI_DT_STP]
		,ISNULL(CONVERT(VARCHAR(4),PE04.REMICADE_DT_STP_MO), 'NULL')+'/'+ISNULL(CONVERT(VARCHAR(4),PE04.REMICADE_DT_STP_DY), 'NULL')+'/'+ISNULL(CONVERT(VARCHAR(4),PE04.REMICADE_DT_STP_YR),'NULL') [REMICADE_DT_STP]
		,ISNULL(CONVERT(VARCHAR(4),PE04.REMICADE_BIOSIM_DT_STP_MO), 'NULL')+'/'+ISNULL(CONVERT(VARCHAR(4),PE04.REMICADE_BIOSIM_DT_STP_DY), 'NULL')+'/'+ISNULL(CONVERT(VARCHAR(4),PE04.REMICADE_BIOSIM_DT_STP_YR),'NULL') [INFLIXIMAB_BS_DT_STP]
		,ISNULL(CONVERT(VARCHAR(4),PE04.ACTEMRA_DT_STP_MO), 'NULL')+'/'+ISNULL(CONVERT(VARCHAR(4),PE04.ACTEMRA_DT_STP_DY), 'NULL')+'/'+ISNULL(CONVERT(VARCHAR(4),PE04.ACTEMRA_DT_STP_YR),'NULL') [ACTEMRA_DT_STP]
		,ISNULL(CONVERT(VARCHAR(4),PE04.XELJANZ_DT_STP_MO), 'NULL')+'/'+ISNULL(CONVERT(VARCHAR(4),PE04.XELJANZ_DT_STP_DY), 'NULL')+'/'+ISNULL(CONVERT(VARCHAR(4),PE04.XELJANZ_DT_STP_YR),'NULL') [XELJANZ_DT_STP]
		FROM 
  			  DP DP
  			  INNER JOIN [MERGE_RA_Japan].[staging].[PE_04] PE04 ON DP.vID = PE04.vID
),

PRO05 AS
(
	SELECT 
		PRO05.*
		,ISNULL(CONVERT(VARCHAR(4),PRO05.BUC_DT_ST_MO), 'NULL')+'/'+ISNULL(CONVERT(VARCHAR(4),PRO05.BUC_DT_ST_DY), 'NULL')+'/'+ISNULL(CONVERT(VARCHAR(4),PRO05.BUC_DT_ST_YR),'NULL')  [BUCILLAMINE_DT_ST]
		,ISNULL(CONVERT(VARCHAR(4),PRO05.KEARAMU_DT_ST_MO), 'NULL')+'/'+ISNULL(CONVERT(VARCHAR(4),PRO05.KEARAMU_DT_ST_DY), 'NULL')+'/'+ISNULL(CONVERT(VARCHAR(4),PRO05.KEARAMU_DT_ST_YR),'NULL')  [IGURATIMOD (CARERAM)_DT_ST]
		,ISNULL(CONVERT(VARCHAR(4),PRO05.ARAVA_DT_ST_MO), 'NULL')+'/'+ISNULL(CONVERT(VARCHAR(4),PRO05.ARAVA_DT_ST_DY), 'NULL')+'/'+ISNULL(CONVERT(VARCHAR(4),PRO05.ARAVA_DT_ST_YR),'NULL')  [LEFLUNOMIDE (ARAVA)_DT_ST]
		,ISNULL(CONVERT(VARCHAR(4),PRO05.MTX_DT_ST_MO), 'NULL')+'/'+ISNULL(CONVERT(VARCHAR(4),PRO05.MTX_DT_ST_DY), 'NULL')+'/'+ISNULL(CONVERT(VARCHAR(4),PRO05.MTX_DT_ST_YR),'NULL')  [METHOTREXATE_DT_ST]
		,ISNULL(CONVERT(VARCHAR(4),PRO05.PRED_DT_ST_MO), 'NULL')+'/'+ISNULL(CONVERT(VARCHAR(4),PRO05.PRED_DT_ST_DY), 'NULL')+'/'+ISNULL(CONVERT(VARCHAR(4),PRO05.PRED_DT_ST_YR),'NULL')  [PREDNISONE/PREDNISOLONE_DT_ST]
		,ISNULL(CONVERT(VARCHAR(4),PRO05.AZULFIDINE_DT_ST_MO), 'NULL')+'/'+ISNULL(CONVERT(VARCHAR(4),PRO05.AZULFIDINE_DT_ST_DY), 'NULL')+'/'+ISNULL(CONVERT(VARCHAR(4),PRO05.AZULFIDINE_DT_ST_YR),'NULL')  [SULFASALAZINE_DT_ST]
		,ISNULL(CONVERT(VARCHAR(4),PRO05.PROGRAF_DT_ST_MO), 'NULL')+'/'+ISNULL(CONVERT(VARCHAR(4),PRO05.PROGRAF_DT_ST_DY), 'NULL')+'/'+ISNULL(CONVERT(VARCHAR(4),PRO05.PROGRAF_DT_ST_YR),'NULL')  [TACROLIMUS (PROGRAF)_DT_ST]
		,ISNULL(CONVERT(VARCHAR(4),PRO05.OTH_CSDMARD_DT_ST_MO), 'NULL')+'/'+ISNULL(CONVERT(VARCHAR(4),PRO05.OTH_CSDMARD_DT_ST_DY), 'NULL')+'/'+ISNULL(CONVERT(VARCHAR(4),PRO05.OTH_CSDMARD_DT_ST_YR),'NULL')  [OTHER CONVENTIONAL SYNTHETIC DMARD_DT_ST]
		,ISNULL(CONVERT(VARCHAR(4),PRO05.BUC_DT_STP_MO), 'NULL')+'/'+ISNULL(CONVERT(VARCHAR(4),PRO05.BUC_DT_STP_DY), 'NULL')+'/'+ISNULL(CONVERT(VARCHAR(4),PRO05.BUC_DT_STP_YR),'NULL')  [BUCILLAMINE_DT_STP]
		,ISNULL(CONVERT(VARCHAR(4),PRO05.KEARAMU_DT_STP_MO), 'NULL')+'/'+ISNULL(CONVERT(VARCHAR(4),PRO05.KEARAMU_DT_STP_DY), 'NULL')+'/'+ISNULL(CONVERT(VARCHAR(4),PRO05.KEARAMU_DT_STP_YR),'NULL')  [IGURATIMOD (CARERAM)_DT_STP]
		,ISNULL(CONVERT(VARCHAR(4),PRO05.ARAVA_DT_STP_MO), 'NULL')+'/'+ISNULL(CONVERT(VARCHAR(4),PRO05.ARAVA_DT_STP_DY), 'NULL')+'/'+ISNULL(CONVERT(VARCHAR(4),PRO05.ARAVA_DT_STP_YR),'NULL')  [LEFLUNOMIDE (ARAVA)_DT_STP]
		,ISNULL(CONVERT(VARCHAR(4),PRO05.MTX_DT_STP_MO), 'NULL')+'/'+ISNULL(CONVERT(VARCHAR(4),PRO05.MTX_DT_STP_DY), 'NULL')+'/'+ISNULL(CONVERT(VARCHAR(4),PRO05.MTX_DT_STP_YR),'NULL')  [METHOTREXATE_DT_STP]
		,ISNULL(CONVERT(VARCHAR(4),PRO05.PRED_DT_STP_MO), 'NULL')+'/'+ISNULL(CONVERT(VARCHAR(4),PRO05.PRED_DT_STP_DY), 'NULL')+'/'+ISNULL(CONVERT(VARCHAR(4),PRO05.PRED_DT_STP_YR),'NULL')  [PREDNISONE/PREDNISOLONE_DT_STP]
		,ISNULL(CONVERT(VARCHAR(4),PRO05.AZULFIDINE_DT_STP_MO), 'NULL')+'/'+ISNULL(CONVERT(VARCHAR(4),PRO05.AZULFIDINE_DT_STP_DY), 'NULL')+'/'+ISNULL(CONVERT(VARCHAR(4),PRO05.AZULFIDINE_DT_STP_YR),'NULL')  [SULFASALAZINE_DT_STP]
		,ISNULL(CONVERT(VARCHAR(4),PRO05.PROGRAF_DT_STP_MO), 'NULL')+'/'+ISNULL(CONVERT(VARCHAR(4),PRO05.PROGRAF_DT_STP_DY), 'NULL')+'/'+ISNULL(CONVERT(VARCHAR(4),PRO05.PROGRAF_DT_STP_YR),'NULL')  [TACROLIMUS (PROGRAF)_DT_STP]
		,ISNULL(CONVERT(VARCHAR(4),PRO05.OTH_CSDMARD_DT_STP_MO), 'NULL')+'/'+ISNULL(CONVERT(VARCHAR(4),PRO05.OTH_CSDMARD_DT_STP_DY), 'NULL')+'/'+ISNULL(CONVERT(VARCHAR(4),PRO05.OTH_CSDMARD_DT_STP_YR),'NULL')  [OTHER CONVENTIONAL SYNTHETIC DMARD_DT_STP]

		
		FROM 
  			  DP DP
  			  INNER JOIN [MERGE_RA_Japan].[staging].[PRO_05] PRO05 ON DP.vID = PRO05.vID
),

PrescribedToday AS
(
	SELECT DISTINCT
	  DP.[vID]
	  ,ISNULL(DP.[SITENUM], '') AS [Site ID] 
	  ,ISNULL(DP.[SUBNUM], '') AS [Subject ID]
	  ,ISNULL(PRO01.PHYSICIAN_ID, '') AS [Provider ID]
	  ,CONVERT(DATE, VD.[VISITDATE]) AS [Enrollment Date]
	  ,ISNULL(ASUB.[IDENT2], '') AS [BIRTHDATE]
	  ,CASE WHEN DATEDIFF(YEAR
				, CONVERT(DATE, ISNULL(ASUB.[IDENT2],VD.[VISITDATE]))
				, CONVERT(DATE,VD.[VISITDATE])) >= 18 THEN 'YES'
			ELSE 'NO'
	   END AS [At Least 18?]
	  , PRO01.YR_ONSET_RA AS [Year of RA Onset]
	  ,ISNULL(CASE WHEN PRO06.STATUSID < 10 OR PRO06.[STATUSID] IS NULL THEN 'Incomplete'
			ELSE 'Complete' END, '') AS [Changes Made Today Page Status]
	  ,CONVERT(VARCHAR(35),(CASE WHEN PRO06.ORENCIA_STATUSTODAY = '1' THEN 'ORENCIA' ELSE NULL END)) AS [ORENCIA]
	  ,CONVERT(VARCHAR(35),(CASE WHEN PRO06.HUMIRA_STATUSTODAY = '1' THEN 'HUMIRA' ELSE NULL END)) AS [HUMIRA]
	  ,CONVERT(VARCHAR(35),(CASE WHEN PRO06.CIMZIA_STATUSTODAY = '1' THEN 'CIMZIA' ELSE NULL END)) AS [CIMZIA]
	  ,CONVERT(VARCHAR(35),(CASE WHEN PRO06.ENBREL_STATUSTODAY = '1' THEN 'ENBREL' ELSE NULL END)) AS [ENBREL]
	  ,CONVERT(VARCHAR(35),(CASE WHEN PRO06.SIMPONI_STATUSTODAY = '1' THEN 'SIMPONI' ELSE NULL END)) AS [SIMPONI]
	  ,CONVERT(VARCHAR(35),(CASE WHEN PRO06.REMICADE_STATUSTODAY = '1' THEN 'REMICADE' ELSE NULL END)) AS [REMICADE]
	  ,CONVERT(VARCHAR(35),(CASE WHEN PRO06.REMICADE_BIOSIM_STATUSTODAY = '1' THEN 'INFLIXIMAB BS' ELSE NULL END)) AS [INFLIXIMAB BS]
	  ,CONVERT(VARCHAR(35),(CASE WHEN PRO06.ACTEMRA_STATUSTODAY = '1' THEN 'ACTEMRA' ELSE NULL END)) AS [ACTEMRA]
	  ,CONVERT(VARCHAR(35),(CASE WHEN PRO06.XELJANZ_STATUSTODAY = '1' THEN 'XELJANZ' ELSE NULL END)) AS [XELJANZ]
	  ,CONVERT(VARCHAR(35),(CASE WHEN PRO06.BUC_STATUSTODAY = '1' THEN 'BUCILLAMINE' ELSE NULL END)) AS [BUCILLAMINE]
	  ,CONVERT(VARCHAR(35),(CASE WHEN PRO06.KEARAMU_STATUSTODAY = '1' THEN 'IGURATIMOD (CARERAM)' ELSE NULL END)) AS [KEARAMU]
	  ,CONVERT(VARCHAR(35),(CASE WHEN PRO06.ARAVA_STATUSTODAY = '1' THEN 'ARAVA' ELSE NULL END)) AS [ARAVA]
	  ,CONVERT(VARCHAR(35),(CASE WHEN PRO06.MTX_STATUSTODAY = '1' THEN 'MTX' ELSE NULL END)) AS [MTX]
	  ,CONVERT(VARCHAR(35),(CASE WHEN PRO06.PRED_STATUSTODAY = '1' THEN 'PREDNISONE/PREDNISOLONE' ELSE NULL END)) AS [PREDNISONE]
	  ,CONVERT(VARCHAR(35),(CASE WHEN PRO06.AZULFIDINE_STATUSTODAY = '1' THEN 'AZULFIDINE' ELSE NULL END)) AS [AZULFIDINE]
	  ,CONVERT(VARCHAR(35),(CASE WHEN PRO06.PROGRAF_STATUSTODAY = '1' THEN 'PROGRAF' ELSE NULL END)) AS [PROGRAF]
	  ,CONVERT(VARCHAR(35),(CASE WHEN PRO06.OTHER_BIONB_STATUSTODAY = '1' THEN 'OTHER' ELSE NULL END)) AS [Other]
	  ,(CASE WHEN PRO06.OTHER_BIONB_STATUSTODAY = '1' THEN PRO06.OTHER_BIONB_SPECIFY ELSE '' END) AS [Specified Other Medication Prescribed at Visit]
	
	FROM 
  	  DP DP
  	  LEFT JOIN [MERGE_RA_Japan].[staging].[VIS_DATE] VD ON DP.vID = VD.vID
  	  LEFT JOIN [MERGE_RA_Japan].[staging].[PRO_01] PRO01 ON DP.vID = PRO01.vID
  	  LEFT JOIN [MERGE_RA_Japan].[staging].[PRO_06] PRO06 ON DP.vID = PRO06.vID
  	  LEFT JOIN ASUB ASUB ON ASUB.[SUBNUM] = DP.[SUBNUM]

),

YesterdayFromPE04 AS (
SELECT 
	   PT.[vID]
	  ,ISNULL(CASE WHEN PE04.STATUSID < 10 OR PE04.[STATUSID] IS NULL THEN 'Incomplete'
			ELSE 'Complete' END, '') AS [Biologic and Targeted Synthetic DMARD Therapy As of Yesterday Page Status]
	  ,CONVERT(VARCHAR(35),(CASE WHEN PE04.ORENCIA_STATUS = '2' THEN 'ORENCIA' ELSE NULL END)) AS [ORENCIA_PRE]
	  ,CONVERT(VARCHAR(35),(CASE WHEN PE04.HUMIRA_STATUS = '2' THEN 'HUMIRA' ELSE NULL END)) AS [HUMIRA_PRE]
	  ,CONVERT(VARCHAR(35),(CASE WHEN PE04.CIMZIA_STATUS = '2' THEN 'CIMZIA' ELSE NULL END)) AS [CIMZIA_PRE]
	  ,CONVERT(VARCHAR(35),(CASE WHEN PE04.ENBREL_STATUS = '2' THEN 'ENBREL' ELSE NULL END)) AS [ENBREL_PRE]
	  ,CONVERT(VARCHAR(35),(CASE WHEN PE04.SIMPONI_STATUS = '2' THEN 'SIMPONI' ELSE NULL END)) AS [SIMPONI_PRE]
	  ,CONVERT(VARCHAR(35),(CASE WHEN PE04.REMICADE_STATUS = '2' THEN 'REMICADE' ELSE NULL END)) AS [REMICADE_PRE]
	  ,CONVERT(VARCHAR(35),(CASE WHEN PE04.REMICADE_BIOSIM_STATUS = '2' THEN 'INFLIXIMAB BS' ELSE NULL END)) AS [INFLIXIMAB BS_PRE]
	  ,CONVERT(VARCHAR(35),(CASE WHEN PE04.ACTEMRA_STATUS = '2' THEN 'ACTEMRA' ELSE NULL END)) AS [ACTEMRA_PRE]
	  ,CONVERT(VARCHAR(35),(CASE WHEN PE04.XELJANZ_STATUS = '2' THEN 'XELJANZ' ELSE NULL END)) AS [XELJANZ_PRE]
	  ,CONVERT(VARCHAR(35),(CASE WHEN PE04.OTH_BIOTS_STATUS = '2' THEN 'OTHER' ELSE NULL END)) AS [Other_PRE]
	  ,ISNULL((CASE WHEN PE04.OTH_BIOTS_STATUS = '2' THEN PE04.OTH_BIOTS_TEXT ELSE NULL END), '') AS [Specified Other Past Biologic - As of Yesterday]
	  ,(CASE WHEN PE04.OTH_BIOTS_STATUS = '2' 
			 THEN PE04.[Other_DT_ST]
			 ELSE NULL END) AS [Other_PRE_ST]
	  ,(CASE WHEN PE04.ORENCIA_STATUS = '2'
			 THEN PE04.[ORENCIA_DT_ST] 
			 ELSE NULL END) AS [ORENCIA_PRE_ST]
	  ,(CASE WHEN PE04.HUMIRA_STATUS = '2' 
  			THEN PE04.[HUMIRA_DT_ST]
			ELSE NULL END) AS [HUMIRA_PRE_ST]
	  ,(CASE WHEN PE04.CIMZIA_STATUS = '2' 
		THEN PE04.[CIMZIA_DT_ST]
		ELSE NULL END) AS [CIMZIA_PRE_ST]
	  ,(CASE WHEN PE04.ENBREL_STATUS = '2' 
		THEN PE04.[ENBREL_DT_ST]
		ELSE NULL END) AS [ENBREL_PRE_ST]
	  ,(CASE WHEN PE04.SIMPONI_STATUS = '2' 
			THEN PE04.SIMPONI_DT_ST
			ELSE NULL END) AS [SIMPONI_PRE_ST]
	  ,(CASE WHEN PE04.REMICADE_STATUS = '2' 
			THEN PE04.REMICADE_DT_ST
			ELSE NULL END) AS [REMICADE_PRE_ST]
	  ,(CASE WHEN PE04.REMICADE_BIOSIM_STATUS = '2' 
			THEN PE04.INFLIXIMAB_BS_DT_ST
			ELSE NULL END) AS [INFLIXIMAB BS_PRE_ST]
	  ,(CASE WHEN PE04.ACTEMRA_STATUS = '2' 
			THEN PE04.ACTEMRA_DT_ST
			ELSE NULL END) AS [ACTEMRA_PRE_ST]
	  ,(CASE WHEN PE04.XELJANZ_STATUS = '2' 
			THEN PE04.XELJANZ_DT_ST
			ELSE NULL END) AS [XELJANZ_PRE_ST]
	  ,(CASE WHEN PE04.OTH_BIOTS_STATUS = '2' 
			THEN PE04.Other_DT_STP
			ELSE NULL END) AS [Other_PRE_STP]
	  ,(CASE WHEN PE04.ORENCIA_STATUS = '2' 
				THEN PE04.ORENCIA_DT_STP
				ELSE NULL END) AS [ORENCIA_PRE_STP]
	  ,(CASE WHEN PE04.HUMIRA_STATUS = '2' 
				THEN PE04.HUMIRA_DT_STP
			ELSE NULL END) AS [HUMIRA_PRE_STP]
	  ,(CASE WHEN PE04.CIMZIA_STATUS = '2' 
			THEN PE04.CIMZIA_DT_STP
			ELSE NULL END) AS [CIMZIA_PRE_STP]
	  ,(CASE WHEN PE04.ENBREL_STATUS = '2' 
			THEN PE04.ENBREL_DT_STP
			ELSE NULL END) AS [ENBREL_PRE_STP]
	  ,(CASE WHEN PE04.SIMPONI_STATUS = '2' 
			THEN PE04.SIMPONI_DT_STP
			ELSE NULL END) AS [SIMPONI_PRE_STP]
	  ,(CASE WHEN PE04.REMICADE_STATUS = '2' 
			THEN PE04.REMICADE_DT_STP
			ELSE NULL END) AS [REMICADE_PRE_STP]
	  ,(CASE WHEN PE04.REMICADE_BIOSIM_STATUS = '2' 
			THEN PE04.INFLIXIMAB_BS_DT_STP
			ELSE NULL END) AS [INFLIXIMAB BS_PRE_STP]
	  ,(CASE WHEN PE04.ACTEMRA_STATUS = '2' 
			THEN PE04.ACTEMRA_DT_STP
			ELSE NULL END) AS [ACTEMRA_PRE_STP]
	  ,(CASE WHEN PE04.XELJANZ_STATUS = '2' 
			THEN PE04.XELJANZ_DT_STP
			ELSE NULL END) AS [XELJANZ_PRE_STP]
      ,CONVERT(VARCHAR(35),(CASE WHEN PE04.ORENCIA_STATUS = '1' THEN 'ORENCIA' ELSE NULL END)) AS [ORENCIA_CUR]
      ,CONVERT(VARCHAR(35),(CASE WHEN PE04.HUMIRA_STATUS = '1' THEN 'HUMIRA' ELSE NULL END)) AS [HUMIRA_CUR]
      ,CONVERT(VARCHAR(35),(CASE WHEN PE04.CIMZIA_STATUS = '1' THEN 'CIMZIA' ELSE NULL END)) AS [CIMZIA_CUR]
      ,CONVERT(VARCHAR(35),(CASE WHEN PE04.ENBREL_STATUS = '1' THEN 'ENBREL' ELSE NULL END)) AS [ENBREL_CUR]
      ,CONVERT(VARCHAR(35),(CASE WHEN PE04.SIMPONI_STATUS = '1' THEN 'SIMPONI' ELSE NULL END)) AS [SIMPONI_CUR]
      ,CONVERT(VARCHAR(35),(CASE WHEN PE04.REMICADE_STATUS = '1' THEN 'REMICADE' ELSE NULL END)) AS [REMICADE_CUR]
      ,CONVERT(VARCHAR(35),(CASE WHEN PE04.REMICADE_BIOSIM_STATUS = '1' THEN 'INFLIXIMAB BS' ELSE NULL END)) AS [INFLIXIMAB BS_CUR]
      ,CONVERT(VARCHAR(35),(CASE WHEN PE04.ACTEMRA_STATUS = '1' THEN 'ACTEMRA' ELSE NULL END)) AS [ACTEMRA_CUR]
      ,CONVERT(VARCHAR(35),(CASE WHEN PE04.XELJANZ_STATUS = '1' THEN 'XELJANZ' ELSE NULL END)) AS [XELJANZ_CUR]
      ,CONVERT(VARCHAR(35),(CASE WHEN PE04.OTH_BIOTS_STATUS = '1' THEN 'OTHER' ELSE NULL END)) AS [Other_CUR]
      ,ISNULL((CASE WHEN PE04.OTH_BIOTS_STATUS = '1' THEN PE04.OTH_BIOTS_TEXT ELSE NULL END), '') AS [Specified Other Current Biologic - As of Yesterday]
      ,(CASE WHEN PE04.OTH_BIOTS_STATUS = '1' 
         THEN PE04.[Other_DT_ST]
		 ELSE NULL END) AS [Other_CUR_ST]
      ,(CASE WHEN PE04.ORENCIA_STATUS = '1'
		 THEN PE04.[ORENCIA_DT_ST] 
		 ELSE NULL END) AS [ORENCIA_CUR_ST]
      ,(CASE WHEN PE04.HUMIRA_STATUS = '1' 
  		THEN PE04.[HUMIRA_DT_ST]
		ELSE NULL END) AS [HUMIRA_CUR_ST]
	  ,(CASE WHEN PE04.CIMZIA_STATUS = '1' 
		THEN PE04.[CIMZIA_DT_ST]
		ELSE NULL END) AS [CIMZIA_CUR_ST]
	  ,(CASE WHEN PE04.ENBREL_STATUS = '1' 
		THEN PE04.[ENBREL_DT_ST]
		ELSE NULL END) AS [ENBREL_CUR_ST]
	  ,(CASE WHEN PE04.SIMPONI_STATUS = '1' 
			THEN PE04.SIMPONI_DT_ST
			ELSE NULL END) AS [SIMPONI_CUR_ST]
	  ,(CASE WHEN PE04.REMICADE_STATUS = '1' 
			THEN PE04.REMICADE_DT_ST
			ELSE NULL END) AS [REMICADE_CUR_ST]
	  ,(CASE WHEN PE04.REMICADE_BIOSIM_STATUS = '1' 
			THEN PE04.INFLIXIMAB_BS_DT_ST
	        ELSE NULL END) AS [INFLIXIMAB BS_CUR_ST]
	  ,(CASE WHEN PE04.ACTEMRA_STATUS = '1' 
			THEN PE04.ACTEMRA_DT_ST
			ELSE NULL END) AS [ACTEMRA_CUR_ST]
	  ,(CASE WHEN PE04.XELJANZ_STATUS = '1' 
			THEN PE04.XELJANZ_DT_ST
			ELSE NULL END) AS [XELJANZ_CUR_ST]
	  ,(CASE WHEN PE04.OTH_BIOTS_STATUS = '1' 
			THEN PE04.Other_DT_STP
			ELSE NULL END) AS [Other_CUR_STP]
      ,(CASE WHEN PE04.ORENCIA_STATUS = '1' 
			THEN PE04.ORENCIA_DT_STP
			ELSE NULL END) AS [ORENCIA_CUR_STP]
      ,(CASE WHEN PE04.HUMIRA_STATUS = '1' 
			THEN PE04.HUMIRA_DT_STP
			ELSE NULL END) AS [HUMIRA_CUR_STP]
	  ,(CASE WHEN PE04.CIMZIA_STATUS = '1' 
			THEN PE04.CIMZIA_DT_STP
			ELSE NULL END) AS [CIMZIA_CUR_STP]
	,(CASE WHEN PE04.ENBREL_STATUS = '1' 
			THEN PE04.ENBREL_DT_STP
			ELSE NULL END) AS [ENBREL_CUR_STP]
	,(CASE WHEN PE04.SIMPONI_STATUS = '1' 
			THEN PE04.SIMPONI_DT_STP
			ELSE NULL END) AS [SIMPONI_CUR_STP]
	,(CASE WHEN PE04.REMICADE_STATUS = '1' 
			THEN PE04.REMICADE_DT_STP
			ELSE NULL END) AS [REMICADE_CUR_STP]
	,(CASE WHEN PE04.REMICADE_BIOSIM_STATUS = '1' 
			THEN PE04.INFLIXIMAB_BS_DT_STP
			ELSE NULL END) AS [INFLIXIMAB BS_CUR_STP]
	,(CASE WHEN PE04.ACTEMRA_STATUS = '1' 
			THEN PE04.ACTEMRA_DT_STP
			ELSE NULL END) AS [ACTEMRA_CUR_STP]
	,(CASE WHEN PE04.XELJANZ_STATUS = '1' 
			THEN PE04.XELJANZ_DT_STP
			ELSE NULL END) AS [XELJANZ_CUR_STP]
		FROM
		  PrescribedToday PT
  		  INNER JOIN PE04 PE04 ON PT.vID = PE04.vID

 ),
 --SELECT * FROM YesterdayFromPE04 

DMARDFromPRO05 AS (
SELECT 
	 PT.[vID]
	,ISNULL(CASE WHEN PRO05.STATUSID < 10 OR PRO05.[STATUSID] IS NULL THEN 'Incomplete'
			ELSE 'Complete' END, '') AS [Conventional Synthetic DMARD Therapy As of Yesterday Page Status]
	,CONVERT(VARCHAR(35),(CASE WHEN PRO05.BUC_STATUS = '2' THEN 'BUCILLAMINE' ELSE NULL END)) AS [BUCILLAMINE_PRE]
	,CONVERT(VARCHAR(35),(CASE WHEN PRO05.KEARAMU_STATUS = '2' THEN 'IGURATIMOD (CARERAM)' ELSE NULL END)) AS [IGURATIMOD (CARERAM)_PRE]
	,CONVERT(VARCHAR(35),(CASE WHEN PRO05.ARAVA_STATUS = '2' THEN 'LEFLUNOMIDE (ARAVA)' ELSE NULL END)) AS [LEFLUNOMIDE (ARAVA)_PRE]
	,CONVERT(VARCHAR(35),(CASE WHEN PRO05.MTX_STATUS = '2' THEN 'METHOTREXATE' ELSE NULL END)) AS [METHOTREXATE_PRE]
	,CONVERT(VARCHAR(35),(CASE WHEN PRO05.PRED_STATUS = '2' THEN 'PREDNISONE/PREDNISOLONE' ELSE NULL END)) AS [PREDNISONE/PREDNISOLONE_PRE]
	,CONVERT(VARCHAR(35),(CASE WHEN PRO05.AZULFIDINE_STATUS = '2' THEN 'SULFASALAZINE' ELSE NULL END)) AS [SULFASALAZINE_PRE]
	,CONVERT(VARCHAR(35),(CASE WHEN PRO05.PROGRAF_STATUS = '2' THEN 'TACROLIMUS (PROGRAF)' ELSE NULL END)) AS [TACROLIMUS (PROGRAF)_PRE]
	,CONVERT(VARCHAR(35),(CASE WHEN PRO05.OTH_CSDMARD_STATUS = '2' THEN 'OTHER CONVENTIONAL SYNTHETIC DMARD' ELSE NULL END)) AS [OTHER CONVENTIONAL SYNTHETIC DMARD_PRE]
    ,ISNULL((CASE WHEN PRO05.OTH_CSDMARD_STATUS = '2' THEN PRO05.OTH_CSDMARD_TEXT ELSE NULL END), '') AS [Specified Other Past DMARD - As of Yesterday]
	  ,(CASE WHEN PRO05.OTH_CSDMARD_STATUS= '2' 
			 THEN PRO05.[OTHER CONVENTIONAL SYNTHETIC DMARD_DT_ST]
			 ELSE NULL END) AS [Other_PRE_ST]
	  ,(CASE WHEN PRO05.BUC_STATUS = '2'
			 THEN PRO05.[BUCILLAMINE_DT_ST] 
			 ELSE NULL END) AS [BUCILLAMINE_PRE_ST]
	  ,(CASE WHEN PRO05.KEARAMU_STATUS = '2' 
  			THEN PRO05.[IGURATIMOD (CARERAM)_DT_ST]
			ELSE NULL END) AS [IGURATIMOD (CARERAM)_PRE_ST]
	,(CASE WHEN  PRO05.ARAVA_STATUS = '2' 
		THEN PRO05.[LEFLUNOMIDE (ARAVA)_DT_ST]
		ELSE NULL END) AS [LEFLUNOMIDE (ARAVA)_PRE_ST]
	,(CASE WHEN PRO05.MTX_STATUS = '2' 
		THEN PRO05.[METHOTREXATE_DT_ST]
		ELSE NULL END) AS [METHOTREXATE_PRE_ST]
	,(CASE WHEN PRO05.PRED_STATUS = '2' 
			THEN PRO05.[PREDNISONE/PREDNISOLONE_DT_ST]
			ELSE NULL END) AS [PREDNISONE/PREDNISOLONE_PRE_ST]
	,(CASE WHEN PRO05.AZULFIDINE_STATUS = '2' 
			THEN PRO05.SULFASALAZINE_DT_ST
			ELSE NULL END) AS [SULFASALAZINE_PRE_ST]
	,(CASE WHEN PRO05.PROGRAF_STATUS = '2' 
			THEN PRO05.[TACROLIMUS (PROGRAF)_DT_ST]
	  ELSE NULL END) AS [TACROLIMUS (PROGRAF)_PRE_ST]
	  
	  	  ,(CASE WHEN PRO05.OTH_CSDMARD_STATUS= '2' 
			 THEN PRO05.[OTHER CONVENTIONAL SYNTHETIC DMARD_DT_STP]
			 ELSE NULL END) AS [Other_PRE_STP]
	  ,(CASE WHEN PRO05.BUC_STATUS = '2'
			 THEN PRO05.[BUCILLAMINE_DT_STP] 
			 ELSE NULL END) AS [BUCILLAMINE_PRE_STP]
	  ,(CASE WHEN PRO05.KEARAMU_STATUS = '2' 
  			THEN PRO05.[IGURATIMOD (CARERAM)_DT_STP]
			ELSE NULL END) AS [IGURATIMOD (CARERAM)_PRE_STP]
	,(CASE WHEN  PRO05.ARAVA_STATUS = '2' 
		THEN PRO05.[LEFLUNOMIDE (ARAVA)_DT_STP]
		ELSE NULL END) AS [LEFLUNOMIDE (ARAVA)_PRE_STP]
	,(CASE WHEN PRO05.MTX_STATUS = '2' 
		THEN PRO05.[METHOTREXATE_DT_STP]
		ELSE NULL END) AS [METHOTREXATE_PRE_STP]
	,(CASE WHEN PRO05.PRED_STATUS = '2' 
			THEN PRO05.[PREDNISONE/PREDNISOLONE_DT_STP]
			ELSE NULL END) AS [PREDNISONE/PREDNISOLONE_PRE_STP]
	,(CASE WHEN PRO05.AZULFIDINE_STATUS = '2' 
			THEN PRO05.[SULFASALAZINE_DT_STP]
			ELSE NULL END) AS [SULFASALAZINE_PRE_STP]
	,(CASE WHEN PRO05.PROGRAF_STATUS = '2' 
			THEN PRO05.[TACROLIMUS (PROGRAF)_DT_STP]
	  ELSE NULL END) AS [TACROLIMUS (PROGRAF)_PRE_STP]
	,CONVERT(VARCHAR(35),(CASE WHEN PRO05.BUC_STATUS = '1' THEN 'BUCILLAMINE' ELSE NULL END)) AS [BUCILLAMINE_CUR]
	,CONVERT(VARCHAR(35),(CASE WHEN PRO05.KEARAMU_STATUS = '1' THEN 'IGURATIMOD (CARERAM)' ELSE NULL END)) AS [IGURATIMOD (CARERAM)_CUR]
	,CONVERT(VARCHAR(35),(CASE WHEN PRO05.ARAVA_STATUS = '1' THEN 'LEFLUNOMIDE (ARAVA)' ELSE NULL END)) AS [LEFLUNOMIDE (ARAVA)_CUR]
	,CONVERT(VARCHAR(35),(CASE WHEN PRO05.MTX_STATUS = '1' THEN 'METHOTREXATE' ELSE NULL END)) AS [METHOTREXATE_CUR]
	,CONVERT(VARCHAR(35),(CASE WHEN PRO05.PRED_STATUS = '1' THEN 'PREDNISONE/PREDNISOLONE' ELSE NULL END)) AS [PREDNISONE/PREDNISOLONE_CUR]
	,CONVERT(VARCHAR(35),(CASE WHEN PRO05.AZULFIDINE_STATUS = '1' THEN 'SULFASALAZINE' ELSE NULL END)) AS [SULFASALAZINE_CUR]
	,CONVERT(VARCHAR(35),(CASE WHEN PRO05.PROGRAF_STATUS = '1' THEN 'TACROLIMUS (PROGRAF)' ELSE NULL END)) AS [TACROLIMUS (PROGRAF)_CUR]
	,CONVERT(VARCHAR(35),(CASE WHEN PRO05.OTH_CSDMARD_STATUS = '1' THEN 'OTHER CONVENTIONAL SYNTHETIC DMARD' ELSE NULL END)) AS [OTHER CONVENTIONAL SYNTHETIC DMARD_CUR]
    ,ISNULL((CASE WHEN PRO05.OTH_CSDMARD_STATUS = '1' THEN PRO05.OTH_CSDMARD_TEXT ELSE NULL END), '') AS [Specified Other Current DMARD - As of Yesterday]
	  ,(CASE WHEN PRO05.OTH_CSDMARD_STATUS= '1' 
			 THEN PRO05.[OTHER CONVENTIONAL SYNTHETIC DMARD_DT_ST]
			 ELSE NULL END) AS [Other_CUR_ST]
	  ,(CASE WHEN PRO05.BUC_STATUS = '1'
			 THEN PRO05.[BUCILLAMINE_DT_ST] 
			 ELSE NULL END) AS [BUCILLAMINE_CUR_ST]
	  ,(CASE WHEN PRO05.KEARAMU_STATUS = '1' 
  			THEN PRO05.[IGURATIMOD (CARERAM)_DT_ST]
			ELSE NULL END) AS [IGURATIMOD (CARERAM)_CUR_ST]
	,(CASE WHEN  PRO05.ARAVA_STATUS = '1' 
		THEN PRO05.[LEFLUNOMIDE (ARAVA)_DT_ST]
		ELSE NULL END) AS [LEFLUNOMIDE (ARAVA)_CUR_ST]
	,(CASE WHEN PRO05.MTX_STATUS = '1' 
		THEN PRO05.[METHOTREXATE_DT_ST]
		ELSE NULL END) AS [METHOTREXATE_CUR_ST]
	,(CASE WHEN PRO05.PRED_STATUS = '1' 
			THEN PRO05.[PREDNISONE/PREDNISOLONE_DT_ST]
			ELSE NULL END) AS [PREDNISONE/PREDNISOLONE_CUR_ST]
	,(CASE WHEN PRO05.AZULFIDINE_STATUS = '1' 
			THEN PRO05.SULFASALAZINE_DT_ST
			ELSE NULL END) AS [SULFASALAZINE_CUR_ST]
	,(CASE WHEN PRO05.PROGRAF_STATUS = '1' 
			THEN PRO05.[TACROLIMUS (PROGRAF)_DT_ST]
	  ELSE NULL END) AS [TACROLIMUS (PROGRAF)_CUR_ST]
	  
	  	  ,(CASE WHEN PRO05.OTH_CSDMARD_STATUS= '1' 
			 THEN PRO05.[OTHER CONVENTIONAL SYNTHETIC DMARD_DT_STP]
			 ELSE NULL END) AS [Other_CUR_STP]
	  ,(CASE WHEN PRO05.BUC_STATUS = '1'
			 THEN PRO05.[BUCILLAMINE_DT_STP] 
			 ELSE NULL END) AS [BUCILLAMINE_CUR_STP]
	  ,(CASE WHEN PRO05.KEARAMU_STATUS = '1' 
  			THEN PRO05.[IGURATIMOD (CARERAM)_DT_STP]
			ELSE NULL END) AS [IGURATIMOD (CARERAM)_CUR_STP]
	,(CASE WHEN  PRO05.ARAVA_STATUS = '1' 
		THEN PRO05.[LEFLUNOMIDE (ARAVA)_DT_STP]
		ELSE NULL END) AS [LEFLUNOMIDE (ARAVA)_CUR_STP]
	,(CASE WHEN PRO05.MTX_STATUS = '1' 
		THEN PRO05.[METHOTREXATE_DT_STP]
		ELSE NULL END) AS [METHOTREXATE_CUR_STP]
	,(CASE WHEN PRO05.PRED_STATUS = '1' 
			THEN PRO05.[PREDNISONE/PREDNISOLONE_DT_STP]
			ELSE NULL END) AS [PREDNISONE/PREDNISOLONE_CUR_STP]
	,(CASE WHEN PRO05.AZULFIDINE_STATUS = '1' 
			THEN PRO05.[SULFASALAZINE_DT_STP]
			ELSE NULL END) AS [SULFASALAZINE_CUR_STP]
	,(CASE WHEN PRO05.PROGRAF_STATUS = '1' 
			THEN PRO05.[TACROLIMUS (PROGRAF)_DT_STP]
	  ELSE NULL END) AS [TACROLIMUS (PROGRAF)_CUR_STP]
		FROM
		  PrescribedToday PT
  		  INNER JOIN PRO05 PRO05 ON PT.vID = PRO05.vID

 )
--SELECT * FROM DMARDFromPRO05

SELECT
	*
FROM
(
/* PRO_01, PRO_06*/
	SELECT DISTINCT
	   up.[vID]
	  ,up.[Site ID] 
	  ,up.[Subject ID]
	  ,up.[Provider ID]
	  ,up.[Enrollment Date]
	  ,up.[BIRTHDATE]
	  ,up.[At Least 18?]
	  ,up.[Year of RA Onset]
	  ,up.[Changes Made Today Page Status]
	  ,up.[Eligible Medication Prescribed at Visit]
	  ,(CASE WHEN up.[Eligible Medication Prescribed at Visit] = 'OTHER' 
			 THEN  up.[Specified Other Medication Prescribed at Visit] 
			 ELSE '' END
		) AS [Specified Other Medication Prescribed at Visit]
		,PE04_PRE.[Biologic and Targeted Synthetic DMARD Therapy As of Yesterday Page Status]
		,PE04_PRE.[Past Biologic - As of Yesterday]
		,PE04_PRE.[Specified Other Past Biologic - As of Yesterday]
		,PE04_PRE.[Start Date of Past Biologic - As of Yesterday]
		,PE04_PRE.[Stop Date of Past Biologic - As of Yesterday] 
		,PE04_CUR.[Current Biologic - As of Yesterday]
		,PE04_CUR.[Specified Other Current Biologic - As of Yesterday]
		,PE04_CUR.[Start Date of Current Biologic - As of Yesterday]
		,PE04_CUR.[Stop Date of Current Biologic - As of Yesterday]
		,PRO05_PRE.[Conventional Synthetic DMARD Therapy As of Yesterday Page Status]
		,PRO05_PRE.[Past DMARD - As of Yesterday]
		,PRO05_PRE.[Specified Other Past DMARD - As of Yesterday]
		,PRO05_PRE.[Start Date of Past DMARD - As of Yesterday]
		,PRO05_PRE.[Stop Date of Past DMARD - As of Yesterday]
		,PRO05_CUR.[Current DMARD - As of Yesterday]
		,PRO05_CUR.[Specified Other Current DMARD - As of Yesterday]
		,PRO05_CUR.[Start Date of Current DMARD - As of Yesterday]
		,PRO05_CUR.[Stop Date of Current DMARD - As of Yesterday]
	FROM
	(
	  SELECT
			 PT.[vID]
			,PT.[Site ID] 
			,PT.[Subject ID]
			,PT.[Provider ID]
			,PT.[Enrollment Date]
			,PT.[BIRTHDATE]
			,PT.[At Least 18?]
			,PT.[Year of RA Onset]
			,PT.[Changes Made Today Page Status]
			,PT.[ORENCIA]
			,PT.[HUMIRA]
			,PT.[CIMZIA]
			,PT.[ENBREL]
			,PT.[SIMPONI]
			,PT.[REMICADE]
			,PT.[INFLIXIMAB BS]
			,PT.[ACTEMRA]
			,PT.[XELJANZ]
			,PT.[BUCILLAMINE]
			,PT.[KEARAMU]
			,PT.[ARAVA]
			,PT.[MTX]
			,PT.[PREDNISONE]
			,PT.[AZULFIDINE]
			,PT.[PROGRAF]
			,PT.[Other]
		  ,[Specified Other Medication Prescribed at Visit]
	  FROM 
		PrescribedToday PT
	) AS cp
	UNPIVOT 
	(
	  [Eligible Medication Prescribed at Visit] FOR Drugs IN ([ORENCIA],[HUMIRA],[CIMZIA],[ENBREL]
															 ,[SIMPONI],[REMICADE],[INFLIXIMAB BS]
															 ,[ACTEMRA],[XELJANZ],[BUCILLAMINE]
															 ,[KEARAMU],[ARAVA],[MTX],[PREDNISONE]
															 ,[AZULFIDINE],[PROGRAF],[Other])
	) AS up
	LEFT JOIN
	(  
	/* PE_04 PAST*/	
		SELECT 
		   up1.[vID]
		  ,up1.[Biologic and Targeted Synthetic DMARD Therapy As of Yesterday Page Status]
		  ,up1.[Past Biologic - As of Yesterday]
		  ,(CASE WHEN up1.[Past Biologic - As of Yesterday] =  'OTHER' 
			 THEN  up1.[Specified Other Past Biologic - As of Yesterday]
			 ELSE '' END) AS [Specified Other Past Biologic - As of Yesterday]
		  ,(CASE WHEN up1.[Past Biologic - As of Yesterday] = 'ORENCIA' THEN up1.[ORENCIA_PRE_ST]
				 WHEN up1.[Past Biologic - As of Yesterday] =  'HUMIRA' THEN  up1.[HUMIRA_PRE_ST]
				 WHEN up1.[Past Biologic - As of Yesterday] = 'CIMZIA'  THEN up1.[CIMZIA_PRE_ST]
				 WHEN up1.[Past Biologic - As of Yesterday] =  'ENBREL'  THEN up1.[ENBREL_PRE_ST]
				 WHEN up1.[Past Biologic - As of Yesterday] =  'SIMPONI'  THEN up1.[SIMPONI_PRE_ST]
				 WHEN up1.[Past Biologic - As of Yesterday] =  'REMICADE'  THEN up1.[REMICADE_PRE_ST]
				 WHEN up1.[Past Biologic - As of Yesterday] =  'INFLIXIMAB BS'  THEN up1.[INFLIXIMAB BS_PRE_ST]
				 WHEN up1.[Past Biologic - As of Yesterday] =  'ACTEMRA'  THEN up1.[ACTEMRA_PRE_ST]
				 WHEN up1.[Past Biologic - As of Yesterday] =  'XELJANZ'  THEN up1.[XELJANZ_PRE_ST]
				 WHEN up1.[Past Biologic - As of Yesterday] =  'OTHER' THEN up1.[Other_PRE_ST]
		   ELSE NULL
		   END )AS [Start Date of Past Biologic - As of Yesterday]
		  ,(CASE WHEN up1.[Past Biologic - As of Yesterday] = 'ORENCIA' THEN up1.[ORENCIA_PRE_STP]
				 WHEN up1.[Past Biologic - As of Yesterday] =  'HUMIRA' THEN  up1.[HUMIRA_PRE_STP]
				 WHEN up1.[Past Biologic - As of Yesterday] = 'CIMZIA'  THEN up1.[CIMZIA_PRE_STP]
				 WHEN up1.[Past Biologic - As of Yesterday] =  'ENBREL'  THEN up1.[ENBREL_PRE_STP]
				 WHEN up1.[Past Biologic - As of Yesterday] =  'SIMPONI'  THEN up1.[SIMPONI_PRE_STP]
				 WHEN up1.[Past Biologic - As of Yesterday] =  'REMICADE'  THEN up1.[REMICADE_PRE_STP]
				 WHEN up1.[Past Biologic - As of Yesterday] =  'INFLIXIMAB BS'  THEN up1.[INFLIXIMAB BS_PRE_STP]
				 WHEN up1.[Past Biologic - As of Yesterday] =  'ACTEMRA'  THEN up1.[ACTEMRA_PRE_STP]
				 WHEN up1.[Past Biologic - As of Yesterday] =  'XELJANZ'  THEN up1.[XELJANZ_PRE_STP]
				 WHEN up1.[Past Biologic - As of Yesterday] =  'OTHER' THEN up1.[Other_PRE_STP]
		   ELSE NULL
		   END )AS [Stop Date of Past Biologic - As of Yesterday]
		  FROM
		(
		  SELECT
				 PT.[vID]
				,PT.[Biologic and Targeted Synthetic DMARD Therapy As of Yesterday Page Status]
				,PT.[ORENCIA_PRE]
				,PT.[HUMIRA_PRE]
				,PT.[CIMZIA_PRE]
				,PT.[ENBREL_PRE]
				,PT.[SIMPONI_PRE]
				,PT.[REMICADE_PRE]
				,PT.[INFLIXIMAB BS_PRE]
				,PT.[ACTEMRA_PRE]
				,PT.[XELJANZ_PRE]
				,PT.[Other_PRE]
				,PT.[Specified Other Past Biologic - As of Yesterday]
				,PT.[ORENCIA_PRE_ST]
				,PT.[HUMIRA_PRE_ST]
				,PT.[CIMZIA_PRE_ST]
				,PT.[ENBREL_PRE_ST]
				,PT.[SIMPONI_PRE_ST]
				,PT.[REMICADE_PRE_ST]
				,PT.[INFLIXIMAB BS_PRE_ST]
				,PT.[ACTEMRA_PRE_ST]
				,PT.[XELJANZ_PRE_ST]
				,PT.[Other_PRE_ST]
				,PT.[ORENCIA_PRE_STP]
				,PT.[HUMIRA_PRE_STP]
				,PT.[CIMZIA_PRE_STP]
				,PT.[ENBREL_PRE_STP]
				,PT.[SIMPONI_PRE_STP]
				,PT.[REMICADE_PRE_STP]
				,PT.[INFLIXIMAB BS_PRE_STP]
				,PT.[ACTEMRA_PRE_STP]
				,PT.[XELJANZ_PRE_STP]
				,PT.[Other_PRE_STP]
		  FROM 
			YesterdayFromPE04 PT
		) AS cp
		UNPIVOT 
		(
		  [Past Biologic - As of Yesterday] FOR Drugs IN ([ORENCIA_PRE] ,[HUMIRA_PRE] ,[CIMZIA_PRE] 
														 ,[ENBREL_PRE] ,[SIMPONI_PRE] ,[REMICADE_PRE] 
														 ,[INFLIXIMAB BS_PRE] ,[ACTEMRA_PRE] ,[XELJANZ_PRE] 
														 ,[Other_PRE])
		) AS up1 
	) AS PE04_PRE ON up.vID = PE04_PRE.vID
	
	LEFT JOIN
	(  
	/* PE_04 CUR*/	
		SELECT 
		   up1.[vID]
		  ,up1.[Current Biologic - As of Yesterday]
		  ,(CASE WHEN up1.[Current Biologic - As of Yesterday] =  'OTHER'
			 THEN  up1.[Specified Other Current Biologic - As of Yesterday]
			 ELSE '' END) AS [Specified Other Current Biologic - As of Yesterday]
		  ,(CASE WHEN up1.[Current Biologic - As of Yesterday] = 'ORENCIA' THEN up1.[ORENCIA_CUR_ST]
				 WHEN up1.[Current Biologic - As of Yesterday] =  'HUMIRA' THEN  up1.[HUMIRA_CUR_ST]
				 WHEN up1.[Current Biologic - As of Yesterday] = 'CIMZIA'  THEN up1.[CIMZIA_CUR_ST]
				 WHEN up1.[Current Biologic - As of Yesterday] =  'ENBREL'  THEN up1.[ENBREL_CUR_ST]
				 WHEN up1.[Current Biologic - As of Yesterday] =  'SIMPONI'  THEN up1.[SIMPONI_CUR_ST]
				 WHEN up1.[Current Biologic - As of Yesterday] =  'REMICADE'  THEN up1.[REMICADE_CUR_ST]
				 WHEN up1.[Current Biologic - As of Yesterday] =  'INFLIXIMAB BS'  THEN up1.[INFLIXIMAB BS_CUR_ST]
				 WHEN up1.[Current Biologic - As of Yesterday] =  'ACTEMRA'  THEN up1.[ACTEMRA_CUR_ST]
				 WHEN up1.[Current Biologic - As of Yesterday] =  'XELJANZ'  THEN up1.[XELJANZ_CUR_ST]
				 WHEN up1.[Current Biologic - As of Yesterday] =  'OTHER' THEN up1.[Other_CUR_ST]
		   ELSE NULL
		   END )AS [Start Date of Current Biologic - As of Yesterday]
		  ,(CASE WHEN up1.[Current Biologic - As of Yesterday] = 'ORENCIA' THEN up1.[ORENCIA_CUR_STP]
				 WHEN up1.[Current Biologic - As of Yesterday] =  'HUMIRA' THEN  up1.[HUMIRA_CUR_STP]
				 WHEN up1.[Current Biologic - As of Yesterday] = 'CIMZIA'  THEN up1.[CIMZIA_CUR_STP]
				 WHEN up1.[Current Biologic - As of Yesterday] =  'ENBREL'  THEN up1.[ENBREL_CUR_STP]
				 WHEN up1.[Current Biologic - As of Yesterday] =  'SIMPONI'  THEN up1.[SIMPONI_CUR_STP]
				 WHEN up1.[Current Biologic - As of Yesterday] =  'REMICADE'  THEN up1.[REMICADE_CUR_STP]
				 WHEN up1.[Current Biologic - As of Yesterday] =  'INFLIXIMAB BS'  THEN up1.[INFLIXIMAB BS_CUR_STP]
				 WHEN up1.[Current Biologic - As of Yesterday] =  'ACTEMRA'  THEN up1.[ACTEMRA_CUR_STP]
				 WHEN up1.[Current Biologic - As of Yesterday] =  'XELJANZ'  THEN up1.[XELJANZ_CUR_STP]
				 WHEN up1.[Current Biologic - As of Yesterday] =  'OTHER' THEN up1.[Other_CUR_STP]
		   ELSE NULL
		   END )AS [Stop Date of Current Biologic - As of Yesterday]
		FROM
		(
		  SELECT
				 PT.[vID]
				,PT.[ORENCIA_CUR]
				,PT.[HUMIRA_CUR]
				,PT.[CIMZIA_CUR]
				,PT.[ENBREL_CUR]
				,PT.[SIMPONI_CUR]
				,PT.[REMICADE_CUR]
				,PT.[INFLIXIMAB BS_CUR]
				,PT.[ACTEMRA_CUR]
				,PT.[XELJANZ_CUR]
				,PT.[Other_CUR]
				,PT.[Specified Other Current Biologic - As of Yesterday]
				,PT.[ORENCIA_CUR_ST]
				,PT.[HUMIRA_CUR_ST]
				,PT.[CIMZIA_CUR_ST]
				,PT.[ENBREL_CUR_ST]
				,PT.[SIMPONI_CUR_ST]
				,PT.[REMICADE_CUR_ST]
				,PT.[INFLIXIMAB BS_CUR_ST]
				,PT.[ACTEMRA_CUR_ST]
				,PT.[XELJANZ_CUR_ST]
				,PT.[Other_CUR_ST]
				,PT.[ORENCIA_CUR_STP]
				,PT.[HUMIRA_CUR_STP]
				,PT.[CIMZIA_CUR_STP]
				,PT.[ENBREL_CUR_STP]
				,PT.[SIMPONI_CUR_STP]
				,PT.[REMICADE_CUR_STP]
				,PT.[INFLIXIMAB BS_CUR_STP]
				,PT.[ACTEMRA_CUR_STP]
				,PT.[XELJANZ_CUR_STP]
				,PT.[Other_CUR_STP]
			FROM 
			YesterdayFromPE04 PT
		) AS cp
		UNPIVOT 
		(
		  [Current Biologic - As of Yesterday] FOR Drugs IN ([ORENCIA_CUR] ,[HUMIRA_CUR] ,[CIMZIA_CUR] 
														 ,[ENBREL_CUR] ,[SIMPONI_CUR] ,[REMICADE_CUR] 
														 ,[INFLIXIMAB BS_CUR] ,[ACTEMRA_CUR] ,[XELJANZ_CUR] 
														 ,[Other_CUR])
		) AS up1
	)AS PE04_CUR ON up.vID = PE04_CUR.vID

	LEFT JOIN
	(  	
----	/* PRO_05 PAST*/	
		SELECT DISTINCT
		   up1.[vID]
		  ,up1.[Conventional Synthetic DMARD Therapy As of Yesterday Page Status]
		  ,up1.[Past DMARD - As of Yesterday]
		  ,(CASE WHEN up1.[Past DMARD - As of Yesterday] =  'OTHER CONVENTIONAL SYNTHETIC DMARD'
			 THEN  up1.[Specified Other Past DMARD - As of Yesterday]
			 ELSE '' END) AS [Specified Other Past DMARD - As of Yesterday]
		  ,(CASE WHEN up1.[Past DMARD - As of Yesterday] = 'BUCILLAMINE' THEN up1.[BUCILLAMINE_PRE_ST]
				 WHEN up1.[Past DMARD - As of Yesterday] =  'IGURATIMOD (CARERAM)' THEN  up1.[IGURATIMOD (CARERAM)_PRE_ST]
				 WHEN up1.[Past DMARD - As of Yesterday] = 'LEFLUNOMIDE (ARAVA)'  THEN up1.[LEFLUNOMIDE (ARAVA)_PRE_ST]
				 WHEN up1.[Past DMARD - As of Yesterday] =  'METHOTREXATE' THEN up1.[METHOTREXATE_PRE_ST]
				 WHEN up1.[Past DMARD - As of Yesterday] =  'PREDNISONE/PREDNISOLONE' THEN up1.[PREDNISONE/PREDNISOLONE_PRE_ST]
				 WHEN up1.[Past DMARD - As of Yesterday] =  'SULFASALAZINE' THEN up1.[SULFASALAZINE_PRE_ST]
				 WHEN up1.[Past DMARD - As of Yesterday] =  'TACROLIMUS (PROGRAF)' THEN up1.[TACROLIMUS (PROGRAF)_PRE_ST]
				 WHEN up1.[Past DMARD - As of Yesterday] =  'OTHER CONVENTIONAL SYNTHETIC DMARD' THEN up1.[Other_PRE_ST]
		   ELSE NULL
		   END )AS [Start Date of Past DMARD - As of Yesterday]
		  , (CASE WHEN up1.[Past DMARD - As of Yesterday] = 'BUCILLAMINE' THEN up1.[BUCILLAMINE_PRE_STP]
				 WHEN up1.[Past DMARD - As of Yesterday] =  'IGURATIMOD (CARERAM)' THEN  up1.[IGURATIMOD (CARERAM)_PRE_STP]
				 WHEN up1.[Past DMARD - As of Yesterday] = 'LEFLUNOMIDE (ARAVA)'  THEN up1.[LEFLUNOMIDE (ARAVA)_PRE_STP]
				 WHEN up1.[Past DMARD - As of Yesterday] =  'METHOTREXATE' THEN up1.[METHOTREXATE_PRE_STP]
				 WHEN up1.[Past DMARD - As of Yesterday] =  'PREDNISONE/PREDNISOLONE' THEN up1.[PREDNISONE/PREDNISOLONE_PRE_STP]
				 WHEN up1.[Past DMARD - As of Yesterday] =  'SULFASALAZINE' THEN up1.[SULFASALAZINE_PRE_STP]
				 WHEN up1.[Past DMARD - As of Yesterday] =  'TACROLIMUS (PROGRAF)' THEN up1.[TACROLIMUS (PROGRAF)_PRE_STP]
				 WHEN up1.[Past DMARD - As of Yesterday] =  'OTHER CONVENTIONAL SYNTHETIC DMARD' THEN up1.[Other_PRE_STP]
		   ELSE NULL
		   END )AS [Stop Date of Past DMARD - As of Yesterday]
		FROM
		(
		  SELECT
				 PT.[vID]
				,PT.[Conventional Synthetic DMARD Therapy As of Yesterday Page Status]
				,PT.[BUCILLAMINE_PRE]
				,PT.[IGURATIMOD (CARERAM)_PRE]
				,PT.[LEFLUNOMIDE (ARAVA)_PRE]
				,PT.[METHOTREXATE_PRE]
				,PT.[PREDNISONE/PREDNISOLONE_PRE]
				,PT.[SULFASALAZINE_PRE]
				,PT.[TACROLIMUS (PROGRAF)_PRE]
				,PT.[OTHER CONVENTIONAL SYNTHETIC DMARD_PRE]
				,PT.[Specified Other Past DMARD - As of Yesterday]
				,PT.[BUCILLAMINE_PRE_ST]
				,PT.[IGURATIMOD (CARERAM)_PRE_ST]
				,PT.[LEFLUNOMIDE (ARAVA)_PRE_ST]
				,PT.[METHOTREXATE_PRE_ST]
				,PT.[PREDNISONE/PREDNISOLONE_PRE_ST]
				,PT.[SULFASALAZINE_PRE_ST]
				,PT.[TACROLIMUS (PROGRAF)_PRE_ST]
				,PT.[Other_PRE_ST]
				,PT.[BUCILLAMINE_PRE_STP]
				,PT.[IGURATIMOD (CARERAM)_PRE_STP]
				,PT.[LEFLUNOMIDE (ARAVA)_PRE_STP]
				,PT.[METHOTREXATE_PRE_STP]
				,PT.[PREDNISONE/PREDNISOLONE_PRE_STP]
				,PT.[SULFASALAZINE_PRE_STP]
				,PT.[TACROLIMUS (PROGRAF)_PRE_STP]
				,PT.[Other_PRE_STP]
		  FROM 
			DMARDFromPRO05 PT
		) AS cp
		UNPIVOT 
		(
		  [Past DMARD - As of Yesterday] FOR Drugs IN ([BUCILLAMINE_PRE]	,[IGURATIMOD (CARERAM)_PRE]
														 ,[LEFLUNOMIDE (ARAVA)_PRE] ,[METHOTREXATE_PRE]
														 ,[PREDNISONE/PREDNISOLONE_PRE] ,[SULFASALAZINE_PRE]
														 ,[TACROLIMUS (PROGRAF)_PRE],[OTHER CONVENTIONAL SYNTHETIC DMARD_PRE])
		) AS up1
	) AS PRO05_PRE ON up.vID = PRO05_PRE.vID

	LEFT JOIN
	(  			
--/* PRP_05 CUR*/	
		SELECT DISTINCT
		   up1.[vID]
		  ,up1.[Current DMARD - As of Yesterday]
		  ,(CASE WHEN up1.[Current DMARD - As of Yesterday] =  'OTHER CONVENTIONAL SYNTHETIC DMARD'
			 THEN  up1.[Specified Other Current DMARD - As of Yesterday]
			 ELSE '' END) AS [Specified Other Current DMARD - As of Yesterday]
		  ,(CASE WHEN up1.[Current DMARD - As of Yesterday] = 'BUCILLAMINE' THEN up1.[BUCILLAMINE_CUR_ST]
				 WHEN up1.[Current DMARD - As of Yesterday] =  'IGURATIMOD (CARERAM)' THEN  up1.[IGURATIMOD (CARERAM)_CUR_ST]
				 WHEN up1.[Current DMARD - As of Yesterday] = 'LEFLUNOMIDE (ARAVA)'  THEN up1.[LEFLUNOMIDE (ARAVA)_CUR_ST]
				 WHEN up1.[Current DMARD - As of Yesterday] =  'METHOTREXATE' THEN up1.[METHOTREXATE_CUR_ST]
				 WHEN up1.[Current DMARD - As of Yesterday] =  'PREDNISONE/PREDNISOLONE' THEN up1.[PREDNISONE/PREDNISOLONE_CUR_ST]
				 WHEN up1.[Current DMARD - As of Yesterday] =  'SULFASALAZINE' THEN up1.[SULFASALAZINE_CUR_ST]
				 WHEN up1.[Current DMARD - As of Yesterday] =  'TACROLIMUS (PROGRAF)' THEN up1.[TACROLIMUS (PROGRAF)_CUR_ST]
				 WHEN up1.[Current DMARD - As of Yesterday] =  'OTHER CONVENTIONAL SYNTHETIC DMARD' THEN up1.[Other_CUR_ST]
		   ELSE NULL
		   END )AS [Start Date of Current DMARD - As of Yesterday]
		  , (CASE WHEN up1.[Current DMARD - As of Yesterday] = 'BUCILLAMINE' THEN up1.[BUCILLAMINE_CUR_STP]
				 WHEN up1.[Current DMARD - As of Yesterday] =  'IGURATIMOD (CARERAM)' THEN  up1.[IGURATIMOD (CARERAM)_CUR_STP]
				 WHEN up1.[Current DMARD - As of Yesterday] = 'LEFLUNOMIDE (ARAVA)'  THEN up1.[LEFLUNOMIDE (ARAVA)_CUR_STP]
				 WHEN up1.[Current DMARD - As of Yesterday] =  'METHOTREXATE' THEN up1.[METHOTREXATE_CUR_STP]
				 WHEN up1.[Current DMARD - As of Yesterday] =  'PREDNISONE/PREDNISOLONE' THEN up1.[PREDNISONE/PREDNISOLONE_CUR_STP]
				 WHEN up1.[Current DMARD - As of Yesterday] =  'SULFASALAZINE' THEN up1.[SULFASALAZINE_CUR_STP]
				 WHEN up1.[Current DMARD - As of Yesterday] =  'TACROLIMUS (PROGRAF)' THEN up1.[TACROLIMUS (PROGRAF)_CUR_STP]
				 WHEN up1.[Current DMARD - As of Yesterday] =  'OTHER CONVENTIONAL SYNTHETIC DMARD' THEN up1.[Other_CUR_STP]
		   ELSE NULL
		   END )AS [Stop Date of Current DMARD - As of Yesterday]
		FROM
		(
		  SELECT
				 PT.[vID]
				,PT.[BUCILLAMINE_CUR]
				,PT.[IGURATIMOD (CARERAM)_CUR]
				,PT.[LEFLUNOMIDE (ARAVA)_CUR]
				,PT.[METHOTREXATE_CUR]
				,PT.[PREDNISONE/PREDNISOLONE_CUR]
				,PT.[SULFASALAZINE_CUR]
				,PT.[TACROLIMUS (PROGRAF)_CUR]
				,PT.[OTHER CONVENTIONAL SYNTHETIC DMARD_CUR]
				,PT.[Specified Other Current DMARD - As of Yesterday]
				,PT.[BUCILLAMINE_CUR_ST]
				,PT.[IGURATIMOD (CARERAM)_CUR_ST]
				,PT.[LEFLUNOMIDE (ARAVA)_CUR_ST]
				,PT.[METHOTREXATE_CUR_ST]
				,PT.[PREDNISONE/PREDNISOLONE_CUR_ST]
				,PT.[SULFASALAZINE_CUR_ST]
				,PT.[TACROLIMUS (PROGRAF)_CUR_ST]
				,PT.[Other_CUR_ST]
				,PT.[BUCILLAMINE_CUR_STP]
				,PT.[IGURATIMOD (CARERAM)_CUR_STP]
				,PT.[LEFLUNOMIDE (ARAVA)_CUR_STP]
				,PT.[METHOTREXATE_CUR_STP]
				,PT.[PREDNISONE/PREDNISOLONE_CUR_STP]
				,PT.[SULFASALAZINE_CUR_STP]
				,PT.[TACROLIMUS (PROGRAF)_CUR_STP]
				,PT.[Other_CUR_STP]
		  FROM 
			DMARDFromPRO05 PT
		) AS cp
		UNPIVOT 
		(
		  [Current DMARD - As of Yesterday] FOR Drugs IN ([BUCILLAMINE_CUR]	,[IGURATIMOD (CARERAM)_CUR]
														 ,[LEFLUNOMIDE (ARAVA)_CUR] ,[METHOTREXATE_CUR]
														 ,[PREDNISONE/PREDNISOLONE_CUR] ,[SULFASALAZINE_CUR]
														 ,[TACROLIMUS (PROGRAF)_CUR],[OTHER CONVENTIONAL SYNTHETIC DMARD_CUR])
		) AS up1
	) AS PRO05_CUR ON up.vID = PRO05_CUR.vID
) AS T




GO
