USE [Reporting]
GO
/****** Object:  Table [dbo].[Test$]    Script Date: 1/31/2024 10:11:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Test$](
	[Hello] [float] NULL,
	[world] [float] NULL
) ON [PRIMARY]
GO
