USE [Reporting]
GO
/****** Object:  Table [dbo].[test]    Script Date: 7/15/2024 11:18:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[test](
	[Message] [nvarchar](20) NULL
) ON [PRIMARY]
GO
