USE [Reporting]
GO
/****** Object:  Table [RA100].[t_FPIDates]    Script Date: 7/15/2024 11:18:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [RA100].[t_FPIDates](
	[SiteID] [int] NOT NULL,
	[FPIDate] [date] NULL
) ON [PRIMARY]
GO
