USE [Reporting]
GO
/****** Object:  Table [RA102].[t_pv_PRO_02A_SAE]    Script Date: 7/15/2024 11:18:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [RA102].[t_pv_PRO_02A_SAE](
	[vID] [bigint] NULL,
	[SITENUM] [bigint] NULL,
	[SUBID] [bigint] NOT NULL,
	[SUBNUM] [nvarchar](50) NULL,
	[VISNAME] [nvarchar](100) NULL,
	[PAGENAME] [nvarchar](100) NULL,
	[VISITID] [int] NOT NULL,
	[VISITSEQ] [smallint] NOT NULL,
	[PAGEID] [int] NOT NULL,
	[PAGESEQ] [smallint] NOT NULL,
	[STATUSID] [int] NULL,
	[PAGELMBY] [nvarchar](200) NULL,
	[PAGELMDT] [datetime] NULL,
	[DATALMBY] [nvarchar](200) NULL,
	[DATALMDT] [datetime] NULL,
	[NO_INFECTIONS] [nvarchar](1) NULL,
	[INF_JOINT_BURSA] [nvarchar](1) NULL,
	[INF_JOINT_BURSA_DT_DY] [smallint] NULL,
	[INF_JOINT_BURSA_DT_MO] [smallint] NULL,
	[INF_JOINT_BURSA_DT_YR] [smallint] NULL,
	[INF_JOINT_BURSA_CODE_1] [nvarchar](54) NULL,
	[INF_JOINT_BURSA_CODE_2] [nvarchar](54) NULL,
	[INF_JOINT_BURSA_CODE_3] [nvarchar](54) NULL,
	[INF_JOINT_BURSA_OO_MICROB] [nvarchar](50) NULL,
	[INF_JOINT_BURSA_NO_MICROB] [nvarchar](50) NULL,
	[SER_INF_JOINT_BURSA] [nvarchar](1) NULL,
	[IV_JOINT_BURSA] [nvarchar](1) NULL,
	[INF_CELLULITIS] [nvarchar](1) NULL,
	[INF_CELLULITIS_DT_DY] [smallint] NULL,
	[INF_CELLULITIS_DT_MO] [smallint] NULL,
	[INF_CELLULITIS_DT_YR] [smallint] NULL,
	[INF_CELLULITIS_CODE_1] [nvarchar](54) NULL,
	[INF_CELLULITIS_CODE_2] [nvarchar](54) NULL,
	[INF_CELLULITIS_CODE_3] [nvarchar](54) NULL,
	[INF_CELLULITIS_OO_MICROB] [nvarchar](50) NULL,
	[INF_CELLULITIS_NO_MICROB] [nvarchar](50) NULL,
	[SER_INF_CELLULITIS] [nvarchar](1) NULL,
	[IV_CELLULITIS] [nvarchar](1) NULL,
	[INF_SINUSITIS] [nvarchar](1) NULL,
	[INF_SINUSITIS_DT_DY] [smallint] NULL,
	[INF_SINUSITIS_DT_MO] [smallint] NULL,
	[INF_SINUSITIS_DT_YR] [smallint] NULL,
	[INF_SINUSITIS_CODE_1] [nvarchar](54) NULL,
	[INF_SINUSITIS_CODE_2] [nvarchar](54) NULL,
	[INF_SINUSITIS_CODE_3] [nvarchar](54) NULL,
	[INF_SINUSITIS_OO_MICROB] [nvarchar](50) NULL,
	[INF_SINUSITIS_NO_MICROB] [nvarchar](50) NULL,
	[SER_INF_SINUSITIS] [nvarchar](1) NULL,
	[IV_SINUSITIS] [nvarchar](1) NULL,
	[INF_DIV] [nvarchar](1) NULL,
	[INF_DIV_DT_DY] [smallint] NULL,
	[INF_DIV_DT_MO] [smallint] NULL,
	[INF_DIV_DT_YR] [smallint] NULL,
	[INF_DIV_CODE_1] [nvarchar](54) NULL,
	[INF_DIV_CODE_2] [nvarchar](54) NULL,
	[INF_DIV_CODE_3] [nvarchar](54) NULL,
	[INF_DIV_OO_MICROB] [nvarchar](50) NULL,
	[INF_DIV_NO_MICROB] [nvarchar](50) NULL,
	[SER_INF_DIV] [nvarchar](1) NULL,
	[IV_DIV] [nvarchar](1) NULL,
	[INF_SEPSIS] [nvarchar](1) NULL,
	[INF_SEPSIS_DT_DY] [smallint] NULL,
	[INF_SEPSIS_DT_MO] [smallint] NULL,
	[INF_SEPSIS_DT_YR] [smallint] NULL,
	[INF_SEPSIS_CODE_1] [nvarchar](54) NULL,
	[INF_SEPSIS_CODE_2] [nvarchar](54) NULL,
	[INF_SEPSIS_CODE_3] [nvarchar](54) NULL,
	[INF_SEPSIS_OO_MICROB] [nvarchar](50) NULL,
	[INF_SEPSIS_NO_MICROB] [nvarchar](50) NULL,
	[SER_INF_SEPSIS] [nvarchar](1) NULL,
	[IV_SEPSIS] [nvarchar](1) NULL,
	[INF_PNEUMONIA] [nvarchar](1) NULL,
	[INF_PNEUMONIA_DT_DY] [smallint] NULL,
	[INF_PNEUMONIA_DT_MO] [smallint] NULL,
	[INF_PNEUMONIA_DT_YR] [smallint] NULL,
	[INF_PNEUMONIA_CODE_1] [nvarchar](54) NULL,
	[INF_PNEUMONIA_CODE_2] [nvarchar](54) NULL,
	[INF_PNEUMONIA_CODE_3] [nvarchar](54) NULL,
	[INF_PNEUMONIA_OO_MICROB] [nvarchar](50) NULL,
	[INF_PNEUMONIA_NO_MICROB] [nvarchar](50) NULL,
	[SER_INF_PNEUMONIA] [nvarchar](1) NULL,
	[IV_PNEUMONIA] [nvarchar](1) NULL,
	[INF_BRONCH] [nvarchar](1) NULL,
	[INF_BRONCH_DT_DY] [smallint] NULL,
	[INF_BRONCH_DT_MO] [smallint] NULL,
	[INF_BRONCH_DT_YR] [smallint] NULL,
	[INF_BRONCH_CODE_1] [nvarchar](54) NULL,
	[INF_BRONCH_CODE_2] [nvarchar](54) NULL,
	[INF_BRONCH_CODE_3] [nvarchar](54) NULL,
	[INF_BRONCH_OO_MICROB] [nvarchar](50) NULL,
	[INF_BRONCH_NO_MICROB] [nvarchar](50) NULL,
	[SER_INF_BRONCH] [nvarchar](1) NULL,
	[IV_BRONCH] [nvarchar](1) NULL,
	[INF_GASTRO] [nvarchar](1) NULL,
	[INF_GASTRO_DT_DY] [smallint] NULL,
	[INF_GASTRO_DT_MO] [smallint] NULL,
	[INF_GASTRO_DT_YR] [smallint] NULL,
	[INF_GASTRO_CODE_1] [nvarchar](54) NULL,
	[INF_GASTRO_CODE_2] [nvarchar](54) NULL,
	[INF_GASTRO_CODE_3] [nvarchar](54) NULL,
	[INF_GASTRO_OO_MICROB] [nvarchar](50) NULL,
	[INF_GASTRO_NO_MICROB] [nvarchar](50) NULL,
	[SER_INF_GASTRO] [nvarchar](1) NULL,
	[IV_GASTRO] [nvarchar](1) NULL,
	[INF_MENING] [nvarchar](1) NULL,
	[INF_MENING_DT_DY] [smallint] NULL,
	[INF_MENING_DT_MO] [smallint] NULL,
	[INF_MENING_DT_YR] [smallint] NULL,
	[INF_MENING_CODE_1] [nvarchar](54) NULL,
	[INF_MENING_CODE_2] [nvarchar](54) NULL,
	[INF_MENING_CODE_3] [nvarchar](54) NULL,
	[INF_MENING_OO_MICROB] [nvarchar](50) NULL,
	[INF_MENING_NO_MICROB] [nvarchar](50) NULL,
	[SER_INF_MENING] [nvarchar](1) NULL,
	[IV_MENING] [nvarchar](1) NULL,
	[INF_UTI] [nvarchar](1) NULL,
	[INF_UTI_DT_DY] [smallint] NULL,
	[INF_UTI_DT_MO] [smallint] NULL,
	[INF_UTI_DT_YR] [smallint] NULL,
	[INF_UTI_CODE_1] [nvarchar](54) NULL,
	[INF_UTI_CODE_2] [nvarchar](54) NULL,
	[INF_UTI_CODE_3] [nvarchar](54) NULL,
	[INF_UTI_OO_MICROB] [nvarchar](50) NULL,
	[INF_UTI_NO_MICROB] [nvarchar](50) NULL,
	[SER_INF_UTI] [nvarchar](1) NULL,
	[IV_UTI] [nvarchar](1) NULL,
	[INF_URI] [nvarchar](1) NULL,
	[INF_URI_DT_DY] [smallint] NULL,
	[INF_URI_DT_MO] [smallint] NULL,
	[INF_URI_DT_YR] [smallint] NULL,
	[INF_URI_CODE_1] [nvarchar](54) NULL,
	[INF_URI_CODE_2] [nvarchar](54) NULL,
	[INF_URI_CODE_3] [nvarchar](54) NULL,
	[INF_URI_OO_MICROB] [nvarchar](50) NULL,
	[INF_URI_NO_MICROB] [nvarchar](50) NULL,
	[SER_INF_URI] [nvarchar](1) NULL,
	[IV_URI] [nvarchar](1) NULL,
	[INF_TB] [nvarchar](1) NULL,
	[INF_TB_DT_DY] [smallint] NULL,
	[INF_TB_DT_MO] [smallint] NULL,
	[INF_TB_DT_YR] [smallint] NULL,
	[INF_TB_STATUS] [smallint] NULL,
	[INF_TB_SPECIFY] [nvarchar](40) NULL,
	[INF_TB_CODE_1] [nvarchar](54) NULL,
	[INF_TB_CODE_2] [nvarchar](54) NULL,
	[INF_TB_CODE_3] [nvarchar](54) NULL,
	[INF_TB_OO_MICROB] [nvarchar](50) NULL,
	[INF_TB_NO_MICROB] [nvarchar](50) NULL,
	[SER_INF_TB] [nvarchar](1) NULL,
	[IV_TB] [nvarchar](1) NULL,
	[INF_OTHER] [nvarchar](1) NULL,
	[INF_OTHER_SPECIFY] [nvarchar](40) NULL,
	[INF_OTHER_DT_DY] [smallint] NULL,
	[INF_OTHER_DT_MO] [smallint] NULL,
	[INF_OTHER_DT_YR] [smallint] NULL,
	[INF_OTHER_CODE_1] [nvarchar](54) NULL,
	[INF_OTHER_CODE_2] [nvarchar](54) NULL,
	[INF_OTHER_CODE_3] [nvarchar](54) NULL,
	[INF_OTHER_OO_MICROB] [nvarchar](50) NULL,
	[INF_OTHER_NO_MICROB] [nvarchar](50) NULL,
	[SER_INF_OTHER] [nvarchar](1) NULL,
	[IV_OTHER] [nvarchar](1) NULL,
	[INF_DRUG_RELATE] [smallint] NULL,
	[INF_DRUG_EVENT1] [smallint] NULL,
	[INF_EVENT_DRUG1] [nvarchar](255) NULL,
	[INF_DRUG_EVENT2] [smallint] NULL,
	[INF_EVENT_DRUG2] [nvarchar](255) NULL,
	[INF_DRUG_EVENT3] [smallint] NULL,
	[INF_EVENT_DRUG3] [nvarchar](255) NULL,
	[INF_DRUG_EVENT4] [smallint] NULL,
	[INF_EVENT_DRUG4] [nvarchar](255) NULL,
	[DELETED] [nvarchar](1) NULL
) ON [PRIMARY]
GO
