USE [Reporting]
GO
/****** Object:  Table [PSO500].[t_PSOPHISubjects]    Script Date: 1/31/2024 10:27:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PSO500].[t_PSOPHISubjects](
	[SiteID] [float] NULL,
	[SubjectID] [float] NULL
) ON [PRIMARY]
GO
