USE [Reporting]
GO
/****** Object:  Table [dbo].[PFQ2]    Script Date: 11/7/2023 12:08:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PFQ2](
	[Trial Object Caption] [nvarchar](255) NULL,
	[Trial Object TrialNo] [nvarchar](255) NULL,
	[Site Object Caption] [nvarchar](255) NULL,
	[Site Object SiteNo] [float] NULL,
	[Site Object SiteName] [nvarchar](255) NULL,
	[Patient Object Caption] [float] NULL,
	[Patient Object Status] [nvarchar](255) NULL,
	[Patient Object PatientNo] [float] NULL,
	[Visit Object ProCaption] [nvarchar](255) NULL,
	[Visit Object Caption] [nvarchar](255) NULL,
	[Visit Object Description] [nvarchar](255) NULL,
	[Visit Object Status] [nvarchar](255) NULL,
	[Visit Object OrderNo] [float] NULL,
	[Visit Object InstanceNo] [float] NULL,
	[Visit Object VisitDate] [datetime] NULL,
	[Visit Object ExpectedVisitDate] [nvarchar](255) NULL,
	[Visit Object LastChange] [datetime] NULL,
	[Form Object ProCaption] [nvarchar](255) NULL,
	[Form Object Caption] [nvarchar](255) NULL,
	[Form Object Description] [nvarchar](255) NULL,
	[Form Object Status] [nvarchar](255) NULL,
	[Form Object OrderNo] [float] NULL,
	[Form Object InstanceNo] [float] NULL,
	[Form Object LastChange] [datetime] NULL,
	[InstanceNo] [float] NULL,
	[ItemInstanceNo] [float] NULL,
	[PFQ4A_PEQ801] [nvarchar](255) NULL,
	[PFQ4A_PEQ801__C] [float] NULL,
	[PFQ4A_PEQ801__R] [float] NULL,
	[PFQ4A_PEQ802] [nvarchar](255) NULL,
	[PFQ4A_PEQ802__C] [float] NULL,
	[PFQ4A_PEQ802__R] [float] NULL,
	[PFQ4A_PEQ803] [nvarchar](255) NULL,
	[PFQ4A_PEQ803__C] [float] NULL,
	[PFQ4A_PEQ803__R] [float] NULL,
	[PFQ4A_PEQ804] [nvarchar](255) NULL,
	[PFQ4A_PEQ804__C] [float] NULL,
	[PFQ4A_PEQ804__R] [float] NULL,
	[PFQ4A_PEQ805] [nvarchar](255) NULL,
	[PFQ4A_PEQ805__C] [float] NULL,
	[PFQ4A_PEQ805__R] [float] NULL,
	[PFQ4A_PEQ806] [nvarchar](255) NULL,
	[PFQ4A_PEQ806__C] [float] NULL,
	[PFQ4A_PEQ806__R] [float] NULL,
	[PFQ4A_PEQ807] [nvarchar](255) NULL,
	[PFQ4A_PEQ807__C] [float] NULL,
	[PFQ4A_PEQ807__R] [float] NULL,
	[PFQ4A_PEQ808] [nvarchar](255) NULL,
	[PFQ4A_PEQ808__C] [float] NULL,
	[PFQ4A_PEQ808__R] [float] NULL,
	[PFQ4A_PEQ809] [nvarchar](255) NULL,
	[PFQ4A_PEQ809__C] [float] NULL,
	[PFQ4A_PEQ809__R] [float] NULL,
	[PFQ4A_EarliestDataChange] [nvarchar](255) NULL,
	[PFQ4A_LatestDataChange] [nvarchar](255) NULL,
	[PFQ4A_EarliestStatusChange] [nvarchar](255) NULL,
	[PFQ4A_LatestStatusChange] [nvarchar](255) NULL,
	[PFQ4B_PEQ810] [nvarchar](255) NULL,
	[PFQ4B_PEQ810__R] [nvarchar](255) NULL,
	[PFQ4B_PEQ811] [nvarchar](255) NULL,
	[PFQ4B_PEQ811__R] [nvarchar](255) NULL,
	[PFQ4B_PEQ812] [nvarchar](255) NULL,
	[PFQ4B_PEQ812__R] [nvarchar](255) NULL,
	[PFQ4B_PEQ813] [nvarchar](255) NULL,
	[PFQ4B_PEQ813__R] [nvarchar](255) NULL,
	[PFQ4B_PEQ814] [nvarchar](255) NULL,
	[PFQ4B_PEQ814__R] [nvarchar](255) NULL,
	[PFQ4B_PEQ815] [nvarchar](255) NULL,
	[PFQ4B_PEQ815__R] [nvarchar](255) NULL,
	[PFQ4B_PEQ816] [nvarchar](255) NULL,
	[PFQ4B_PEQ816__R] [nvarchar](255) NULL,
	[PFQ4B_EarliestDataChange] [nvarchar](255) NULL,
	[PFQ4B_LatestDataChange] [nvarchar](255) NULL,
	[PFQ4B_EarliestStatusChange] [nvarchar](255) NULL,
	[PFQ4B_LatestStatusChange] [nvarchar](255) NULL,
	[PFQ4C_PEQ817] [nvarchar](255) NULL,
	[PFQ4C_PEQ817__R] [float] NULL,
	[PFQ4C_PEQ818] [nvarchar](255) NULL,
	[PFQ4C_PEQ818__R] [nvarchar](255) NULL,
	[PFQ4C_PEQ819] [nvarchar](255) NULL,
	[PFQ4C_PEQ819__R] [nvarchar](255) NULL,
	[PFQ4C_PEQ820] [nvarchar](255) NULL,
	[PFQ4C_PEQ820__R] [nvarchar](255) NULL,
	[PFQ4C_EarliestDataChange] [nvarchar](255) NULL,
	[PFQ4C_LatestDataChange] [nvarchar](255) NULL,
	[PFQ4C_EarliestStatusChange] [nvarchar](255) NULL,
	[PFQ4C_LatestStatusChange] [nvarchar](255) NULL,
	[PFQ4D_PEQ821] [nvarchar](255) NULL,
	[PFQ4D_PEQ821__C] [float] NULL,
	[PFQ4D_PEQ821__R] [float] NULL,
	[PFQ4D_PEQ822] [nvarchar](255) NULL,
	[PFQ4D_PEQ822__C] [float] NULL,
	[PFQ4D_PEQ822__R] [float] NULL,
	[PFQ4D_PEQ823] [nvarchar](255) NULL,
	[PFQ4D_PEQ823__C] [float] NULL,
	[PFQ4D_PEQ823__R] [float] NULL,
	[PFQ4D_PEQ824] [nvarchar](255) NULL,
	[PFQ4D_PEQ824__C] [float] NULL,
	[PFQ4D_PEQ824__R] [float] NULL,
	[PFQ4D_PEQ825] [nvarchar](255) NULL,
	[PFQ4D_PEQ825__C] [float] NULL,
	[PFQ4D_PEQ825__R] [float] NULL,
	[PFQ4D_PEQ826] [nvarchar](255) NULL,
	[PFQ4D_PEQ826__C] [float] NULL,
	[PFQ4D_PEQ826__R] [float] NULL,
	[PFQ4D_PEQ827] [nvarchar](255) NULL,
	[PFQ4D_PEQ827__C] [float] NULL,
	[PFQ4D_PEQ827__R] [float] NULL,
	[PFQ4D_PEQ828] [nvarchar](255) NULL,
	[PFQ4D_PEQ828__C] [float] NULL,
	[PFQ4D_PEQ828__R] [float] NULL,
	[PFQ4D_PEQ829] [nvarchar](255) NULL,
	[PFQ4D_PEQ829__C] [float] NULL,
	[PFQ4D_PEQ829__R] [float] NULL,
	[PFQ4D_PEQ830] [nvarchar](255) NULL,
	[PFQ4D_PEQ830__C] [float] NULL,
	[PFQ4D_PEQ830__R] [float] NULL,
	[PFQ4D_PEQ831] [nvarchar](255) NULL,
	[PFQ4D_PEQ831__C] [float] NULL,
	[PFQ4D_PEQ831__R] [float] NULL,
	[PFQ4D_EarliestDataChange] [nvarchar](255) NULL,
	[PFQ4D_LatestDataChange] [nvarchar](255) NULL,
	[PFQ4D_EarliestStatusChange] [nvarchar](255) NULL,
	[PFQ4D_LatestStatusChange] [nvarchar](255) NULL,
	[PFQ4E_PEQ832] [nvarchar](255) NULL,
	[PFQ4E_PEQ832__R] [nvarchar](255) NULL,
	[PFQ4E_PEQ833] [nvarchar](255) NULL,
	[PFQ4E_PEQ833__R] [float] NULL,
	[PFQ4E_PEQ834] [nvarchar](255) NULL,
	[PFQ4E_PEQ834__R] [nvarchar](255) NULL,
	[PFQ4E_PEQ836] [nvarchar](255) NULL,
	[PFQ4E_PEQ836__R] [nvarchar](255) NULL,
	[PFQ4E_PEQ837] [nvarchar](255) NULL,
	[PFQ4E_PEQ837__R] [nvarchar](255) NULL,
	[PFQ4E_PEQ838] [nvarchar](255) NULL,
	[PFQ4E_PEQ838__R] [nvarchar](255) NULL,
	[PFQ4E_EarliestDataChange] [nvarchar](255) NULL,
	[PFQ4E_LatestDataChange] [nvarchar](255) NULL,
	[PFQ4E_EarliestStatusChange] [nvarchar](255) NULL,
	[PFQ4E_LatestStatusChange] [nvarchar](255) NULL,
	[PFQ4F_PEQ839] [nvarchar](255) NULL,
	[PFQ4F_PEQ839__R] [float] NULL,
	[PFQ4F_PEQ840] [nvarchar](255) NULL,
	[PFQ4F_PEQ840__R] [float] NULL,
	[PFQ4F_PEQ841] [nvarchar](255) NULL,
	[PFQ4F_PEQ841__R] [float] NULL,
	[PFQ4F_PEQ842] [nvarchar](255) NULL,
	[PFQ4F_PEQ842__R] [float] NULL,
	[PFQ4F_EarliestDataChange] [nvarchar](255) NULL,
	[PFQ4F_LatestDataChange] [nvarchar](255) NULL,
	[PFQ4F_EarliestStatusChange] [nvarchar](255) NULL,
	[PFQ4F_LatestStatusChange] [nvarchar](255) NULL,
	[TrlTrialId] [float] NULL,
	[TrlSiteId] [float] NULL,
	[TrialId] [float] NULL,
	[SiteId] [float] NULL,
	[PatientId] [float] NULL,
	[VisitId] [float] NULL,
	[FormId] [float] NULL,
	[FormParentId] [float] NULL,
	[FormParentTypeId] [float] NULL
) ON [PRIMARY]
GO
