USE [Reporting]
GO
/****** Object:  Table [POWER].[AssessmentWeek]    Script Date: 11/7/2023 12:08:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [POWER].[AssessmentWeek](
	[AssessmentWeek] [float] NULL
) ON [PRIMARY]
GO
