USE [Reporting]
GO
/****** Object:  Table [POWER].[AssessmentWeek]    Script Date: 6/6/2024 8:58:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [POWER].[AssessmentWeek](
	[AssessmentWeek] [float] NULL
) ON [PRIMARY]
GO
