USE [Reporting]
GO
/****** Object:  View [PSO500].[v_op_Biosimilars]    Script Date: 6/6/2024 8:58:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [PSO500].[v_op_Biosimilars] AS


SELECT
       'PSO' AS [Registry]
      ,C.[SiteID]
      ,C.[SiteStatus]
      ,C.[SubjectID]
      --,C.[VisitType]
      ,C.[ProviderID]
      ,C.[BirthYear]
      ,C.[EnrollDate]
	  ,CAST(DEL.[CompletionDate] AS DATE) AS [EnteredDate]
	  ,YEAR(C.[EnrollDate]) AS [EnrollYear]
	  ,CASE 
		WHEN YEAR(C.[EnrollDate])/2 <> 0 THEN CONCAT(YEAR([EnrollDate]),'-',(YEAR([EnrollDate])+1))
		WHEN YEAR(C.[EnrollDate])/2 = 0 THEN CONCAT(YEAR([EnrollDate])-1,'-', YEAR([EnrollDate]))
		ELSE NULL
		END AS [YearGroup]
	  --,ROW_NUMBER() OVER (PARTITION BY (YEAR(C.[EnrollDate])) ORDER BY (YEAR(C.[EnrollDate]))) AS [YearNum]
      --,[Treatment]
      ,[TreatmentName]
	  ,ROW_NUMBER() OVER(Partition BY [TreatmentName], YEAR(C.[EnrollDate]) ORDER BY C.[EnrollDate], DEL.[CompletionDate]) AS [DOINum]
	  ,ROW_NUMBER() OVER(Partition BY C.[DrugCohort] ORDER BY C.[EnrollDate]) AS [TTypeNum]
      ,C.[DrugCohort]
      ,CASE 
       WHEN C.[RegistryEnrollmentStatus] = 'Eligible-not started' 
       THEN 'Eligible'
       WHEN C.[RegistryEnrollmentStatus] = 'Eligible - Review decision' 
       THEN 'Eligible'
       WHEN C.[RegistryEnrollmentStatus] = 'Not eligible' AND [EligibilityReview] = 'Eligible' 
       THEN 'Eligible'
       WHEN C.[RegistryEnrollmentStatus] = 'Not eligible' AND [EligibilityReview] = 'Not eligible - Exception granted' 
       THEN 'Eligible'
       ELSE C.[RegistryEnrollmentStatus]
       END AS [RegistryEnrollmentStatus]
      ,[EligibilityReview]
	  ,ROW_NUMBER () OVER (PARTITION BY C.[TreatmentName] ORDER BY C.[EnrollDate]) [OrderEnrolled] --SELECT TOP 10 * FROM [Reporting].[PSO500].[t_op_CAT]
  --SELECT *
  FROM [Reporting].[PSO500].[t_op_EER] C
  LEFT JOIN [Reporting].[PSO500].[v_op_DataEntryLag] DEL ON DEL.SubjectID = C.SubjectID AND DEL.VisitDate = C.EnrollDate
  WHERE [TreatmentName] LIKE '%-%' 
  AND [TreatmentName] NOT LIKE '%Other%'
  --AND [SiteID] NOT LIKE '%99%'


GO
