USE [Reporting]
GO
/****** Object:  Table [dbo].[A#]    Script Date: 9/22/2023 10:25:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[A#](
	[SiteID] [int] NOT NULL,
	[SubjectID] [bigint] NOT NULL
) ON [PRIMARY]
GO
